section.footer
  .footer__container
    .footer__contact(data-aos="flip-up")
      a.footer__contact-text(href='#') お問い合わせ
    .footer__link(data-aos="fade-right")
      a.footer__navigation(href='#') お知らせ
      a.footer__navigation(href='#') カテゴリ
      a.footer__navigation(href='#') イベント情報
      a.footer__navigation(href='#') イベントスタッフ募集中！
      a.footer__navigation(href='#') このサイトについて
      a.footer__navigation(href='#') イベント企画‧まちづくりの⽅へ
      a.footer__navigation(href='#') 運営会社
      a.footer__navigation(href='#') 個人情報の取り扱いについて
      a.footer__navigation(href='#') サイトマップ
    .footer__icon-container(data-aos="flip-left")
      a.footer__icon(href='#')
        img(src='./img/facebook-icon.png', alt='Facebook')
      a.footer__icon(href='#')
        img(src='./img/twitter-icon.png', alt='Twitter')
      a.footer__icon(href='#')
        img(src='./img/instagram-icon.png', alt='Instagram')
    .footer__logo-container
      a(href='#')
        img.footer__logo(src='./img/footer__logo.png', alt='Funwacca Logo')
    p.footer__copyright Copyright © 2020 Funwacca
    //- ARROW
    .footer__top
      img.footer__arrow(src='./img/arrow_top.png', alt='Arrow up')
