nav.header(data-aos="fade-down")
  .header__container
    .header__line
      img.header__line(src="./img/header_logo.png", alt="logo")
    .header__callout-container
      .header__callout
        img(src="./img/callout.png", alt="callout")
        p.header__callout-text イベント・企画づくりを応援するメディア
  .header__container
    .header__search 
      input.header__search-box(type="text" placeholder="検索")
      .header__search-container
        button.header__search-btn(type='button')
          img(src="./img/search_btn.png", alt="logo")
    .header__operation-container
      a.header__operation(href="#") 運営会社
    .header__contact-container
      a.header__contact(href="/contact.html") お問い合わせ
