header.nav
  .nav__logo
    a(href='#')
    img.nav__logo(src="./img/header_logo.png", alt="logo")
  .nav__icon-container
    input#nav__btn.nav__btn(type='checkbox')
    label.nav__icon(for='nav__btn')
      span.nav__icon--line
    ul#nav__links.nav__links
      li.nav__links--white
        .nav__search 
          input.nav__search-box(type="text" placeholder="検索")
          button.nav__search-btn(type='button')
            img(src="./img/search_btn.png", alt="search btn")
      li.nav__links--link
        a.nav__item(href="#") お知らせ
      li.nav__links--link
        label.nav__link-container(for='dropdown')
          input#dropdown.nav__dropdownchk(type='checkbox')
          a.nav__item--dropdown カテゴリ
            .nav__dropdown-toggle
              .nav__arrow-toggle
            .nav__dropdown-hover
              .nav__arrow-hover
          .nav__box.nav__box--arrow
            ul.nav__dropdown
              li.nav__text
                span.nav__dropdown-arrow
                a.nav__dropdown-text(href="#") イベント
              li.nav__text
                span.nav__dropdown-arrow
                a.nav__dropdown-text(href="#") お知らせ
              li.nav__text
                span.nav__dropdown-arrow
                a.nav__dropdown-text(href="#") 募集
              li.nav__text
                span.nav__dropdown-arrow
                a.nav__dropdown-text(href="#") 講習会
              li.nav__text
                span.nav__dropdown-arrow
                a.nav__dropdown-text(href="#") コラム
              li.nav__text
                span.nav__dropdown-arrow
                a.nav__dropdown-text(href="#") ワークショップ
      li.nav__links--link
        a.nav__item(href="#") イベント情報
      li.nav__links--link
        a.nav__item(href="#") イベントスタッフ募集中！
      li.nav__links--link
        a.nav__item(href="#") このサイトについて
      li.nav__links--link
        a.nav__item(href="#") イベント企画‧まちづくりの⽅へ
      li.nav__links--white
        a.nav__item--black(href="#") 運営会社
      li.nav__links--contact
        .nav__contact-container
          a.nav__contact(href="#") お問い合わせ
