link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Noto+Serif+JP:ital,wght@0,200;0,400;0,700;1,400;1,700&display=swap" rel="stylesheet")
link(href="https://fonts.gstatic.com" rel="preconnect")
link(href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet")
link(href="https://unpkg.com/flickity@2/dist/flickity.min.css" type="text/css" rel="stylesheet")
link(href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet")
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
script(src='https://ajaxzip3.github.io/ajaxzip3.js' charset='UTF-8')
