* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ul {
  list-style-type: none; }

a {
  color: inherit;
  text-decoration: none; }

ul,
ol,
div {
  margin: 0;
  padding: 0; }

html {
  font-size: 10px;
  -webkit-font-feature-settings: 'palt';
          font-feature-settings: 'palt';
  font-weight: 400; }
  @media screen and (max-width: 980px) {
    html {
      min-width: 980px; } }
  @media screen and (max-width: 767px) {
    html {
      min-width: 100%; } }

.white {
  color: #fff; }

.white-bg {
  background: #fff; }

.black {
  color: 900; }

.black-bg {
  background: 900; }

.primary {
  color: #0b1e5a; }

.primary-bg {
  background: #0b1e5a; }

.overflow {
  overflow: hidden; }

.header {
  width: 100%;
  height: 88px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .header__line {
    width: 367px; }
  .header__line-container {
    width: auto;
    height: 50px; }
  .header__callout {
    width: 328px;
    margin-top: 21px; }
  .header__callout-text {
    position: absolute;
    top: 25px;
    left: 405px;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 16px;
    line-height: 2.5em; }
  .header__search {
    width: auto;
    margin-left: 242px;
    display: inline; }
  .header__search-box {
    font-size: 18px;
    line-height: 2.5em;
    margin-top: 25px;
    width: 200px;
    border: 1px solid #ccc;
    padding: 5px;
    height: 40px;
    border-radius: 5px;
    outline: none; }
  .header__search-btn {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: 35px;
    margin-left: -30px; }
  .header__operation {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 16px;
    line-height: 2.5em;
    width: 100%; }
  .header__operation-container {
    width: 140px;
    margin-top: 26px;
    margin-left: 100px;
    margin-right: -25px; }
  .header__contact {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 18px;
    padding-left: 20px; }
  .header__contact-container {
    width: 160px;
    margin-left: 60px;
    padding-top: 30px;
    background-color: #fedb00; }

.container {
  max-width: 980px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media screen and (max-width: 767px) {
    .container {
      max-width: 100%;
      padding: 0 3%; } }


/*# sourceMappingURL=style.css.map*/