.banner {
  position: relative;
  margin-top: 80px;
  @include sp {
    margin: getsp375(80px) auto;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 360px;
    object-fit: cover;
    object-position: center;
    @include sp {
      display: none;
    }

    &--sp {
      display: none;
      @include sp {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 36px;
    font-weight: $medium;
    @include sp {
      font-size: getsp375(54px);
      font-weight: $regular;
      line-height: 1.3em;
      width: 100%;
    }

    &--small {
      font-size: 28px;
      @include sp {
        font-size: getsp375(42px);
      }
    }

    &--extra-small {
      position: absolute;
      top: -34px;
      right: 350px;
      font-size: 13px;
      line-height: 4.62em;
      @include sp {
        top: getsp375(-38px);
        right: getsp375(84px);
        font-size: getsp375(20px);
        line-height: 4.5em;
        width: 100%;
      }
    }

    &--description {
      padding-top: 25px;
      font-size: 16px;
      @include sp {
        line-height: 1.7em;
        padding-top: getsp375(40px);
        font-size: getsp375(28px);
        font-weight: $regular;
      }
    }

    &--title {
      font-size: 50px;
      font-family: $nunito;
      font-weight: $bold;
      line-height: 0.83em;
      @include sp {
        font-size: getsp375(74px);
        line-height: 1.22em;
      }

      &::after {
        content: 'さん';
        font-weight: $medium;
      }
    }
  }

  &__text-wrapper {
    @include sp {
      width: 100%;
      margin: 0 auto;
    }

    &--small {
      @include sp {
        width: 85.38%;
      }
    }
  }

  &__container {
    position: relative;
    height: 360px;
    overflow: hidden;
    @include sp {
      height: 100%;
    }

    &--second {
      @include sp {
        margin-top: getsp375(-50px);
      }
    }
  }

  &__wrapper {
    text-align: right;
    @include max-width;
    @include sp {
      position: absolute;
      width: 100%;
      height: 100%;
      top: getsp375(60px);
      padding: 0 4%;
    }
  }

  &__text-container {
    position: relative;
    text-align: right;
    margin-top: 84px;
    margin-left: 532px;
    width: 646px;
    @include sp {
      text-align: center;
      margin-top: 0;
      margin-left: 0;
      width: 100%;
      height: 100%;
    }

    &--second {
      margin-top: 34px;
      @include sp {
        margin-top: getsp375(-46px);
      }
    }
  }

  &__button-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    margin-left: 482px;
    @include sp {
      position: absolute;
      margin: 0;
      bottom: getsp375(115px);
      left: 0;
      right: 0;
    }

    &--second {
      margin-top: 16px;
      margin-left: 502px;
      @include sp {
        margin: 0;
      }
    }
  }

  &__arc-container {
    position: relative;
    top: 36px;
    right: 142px;
    width: 100%;
    @include sp {
      text-align: center;
      top: -15px;
      right: 0;
    }
  }

  &__arc {
    background-repeat: no-repeat;
    width: 470px;
    height: 81px;
    @include sp {
      top: -18px;
      right: 0;
      left: 0;
      padding: 0 getsp375(20px);
      width: 100%;
      height: auto;
    }
  }

  &__break {
    display: none;
    @include sp {
      display: block;
    }
  }
}
