.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
  color: $white;
  font-size: 16px;
  letter-spacing: 0.025em;
  background: $black;
  padding: 7px 21px 7px 34px;
  width: auto;
  height: 38px;
  text-decoration: none;
  white-space: nowrap;
  transition: all 0.3s;
  @include sp {
    border-radius: getsp375(56px);
    font-size: getsp375(28px);
    padding: getsp375(20px) getsp375(35px) getsp375(20px) getsp375(59px);
    width: auto;
    height: getsp375(68px);
  }

  &::before {
    content: '';
    position: absolute;
    width: 7px;
    height: 10px;
    left: 19px;
    bottom: 13px;
    background: url('/img/greater_than-white.png');
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.3s;
    @include sp {
      width: getsp375(12px);
      height: getsp375(17px);
      left: getsp375(34px);
      bottom: 0;
      top: getsp375(25px);
    }
  }

  &:hover {
    color: $yellow;
    text-decoration: none;

    &::before {
      background: url('/img/greater_than-yellow.png');
    }
  }
}
