.category {
  position: relative;
  margin-top: 60px;
  @include sp {
    margin-top: 0;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
    height: 150px;
    background: $white;
    border-radius: 50%;
    margin-top: 5px;
    @include sp {
      margin-top: 0;
      width: getsp375(226px);
      height: getsp375(226px);
    }
  }

  &__item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
    margin-top: 25px;
    @include sp {
      width: 100%;
      margin-top: getsp375(21px);
    }
  }

  &__title-en {
    font-size: 14px;
    @include sp {
      font-size: getsp375(22px);
    }
  }

  &__title-jp {
    font-size: 21px;
    @include sp {
      font-size: getsp375(32px);
      line-height: 1em;
    }

    &--islamicgreen {
      color: $islamicgreen;
    }

    &--tawny {
      color: $tawny;
    }

    &--purple {
      color: $purple;
    }

    &__title-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__link {
    @include sp {
      width: 100%;
    }
  }

  &__description {
    font-size: 24px;
    line-height: 1.5em;
    font-weight: $medium;
    font-family: $mincho;
    padding-left: 23px;
    width: 590px;
    max-width: 100%;
    @include sp {
      font-size: getsp375(32px);
      line-height: 1.25em;
      letter-spacing: 0.1em;
      padding-left: getsp375(20px);
      width: 100%;
      height: 100%;
    }

    &--small {
      font-size: 16px;
      font-family: $noto-sans;
      font-weight: $regular;
      padding-left: 23px;
      @include sp {
        font-size: getsp375(26px);
        padding-left: getsp375(20px);
      }
    }
  }

  &__description-container {
    padding-top: 20px;
    width: 100%;
    @include sp {
      padding-top: getsp375(20px);
    }
  }

  &__information {
    display: flex;
    flex-direction: row;
    margin-left: 46px;
    @include sp {
      width: 100%;
      margin-left: 0;
      margin-bottom: getsp375(40px);
    }
  }

  &__information-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 8px;
    @include sp {
      flex-direction: row;
      padding-top: 0;
    }
  }

  &__information-container {
    display: flex;
    flex-direction: column;
    @include sp {
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }

  &__button-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 45px;
    left: 233px;
    @include sp {
      display: none;
    }
  }

  &__content {
    display: flex;
    align-items: flex-start;
    margin-top: 8px;
    @include sp {
      margin-top: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &:not(:first-child) {
      margin-top: 57px;
      @include sp {
        margin-top: 0;
      }
    }
  }

  &__container {
    margin-top: 20px;
    @include sp {
      margin-top: 0;
    }
  }
}
