.content {
  position: relative;
  @include max-width;

  &__image {
    width: 100%;
    height: 210px;
    object-fit: cover;
    object-position: center;
    border: 4px solid white;
    @include sp {
      width: 85.38%;
      height: auto;
    }

    &--small {
      width: 278px;
      height: 156px;
      @include sp {
        top: -10px;
        width: 33.29%;
        height: auto;
      }
    }

    &--category {
      margin-top: 22px;
      @include sp {
        margin-top: getsp375(30px);
        width: 100%;
        height: auto;
      }
    }

    &--event {
      height: 536px;
      @include sp {
        width: 73.8%;
        height: auto;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 380px;
    color: black;
    margin: 0;
    @include sp {
      width: 100%;
      height: auto;
    }

    &:not(:last-child) {
      @include sp {
        margin-bottom: getsp375(40px);
      }
    }

    &:last-child {
      @include sp {
        margin-bottom: 0;
      }
    }

    &:not(:nth-child(3n+3)) {
      margin-right: 40px;
      @include sp {
        margin-right: 0;
      }
    }

    &--small {
      width: 278px;
      margin-bottom: 31px;
      @include sp {
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
      }

      &:not(:nth-child(3n+3)) {
        margin-right: 35px;
        @include sp {
          margin-right: 0;
        }
      }
    }

    &--category {
      width: 100%;
      @include sp {
        flex-direction: row;
        align-items: flex-start;
        width: 57%;
        padding-right: getsp375(25px);
      }
    }
  }

  &__item-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 27px;
    @include sp {
      width: 100%;
      margin-top: getsp375(42px);
      height: auto;
    }

    &--small {
      width: 907px;
      @include sp {
        width: 100%;
      }
    }

    &--category {
      width: 100%;
      @include sp {
        height: auto;
      }
    }

    &--event {
      margin-top: 34px;
      width: 100%;
      height: 100%;
      @include sp {
        margin-top: getsp375(17px);
        height: auto;
        justify-content: space-between;
      }
    }
  }

  &__date {
    position: absolute;
    margin-top: 5px;
    left: -18px;
    top: 38px;
    height: 28px;
    white-space: nowrap;
    transform: rotate(-90deg);
    @include sp {
      margin-top: 0;
      left: getsp375(-45px);
      top: getsp375(90px);
    }

    &--small {
      left: -5px;
      @include sp {
        left: 0;
        top: getsp375(27px);
      }
    }

    &--category {
      left: -30px;
      @include sp {
        left: getsp375(-35px);
        top: getsp375(55px);
      }
    }

    &--event {
      top: 34px;
      left: -201px;
      @include sp {
        top: getsp375(48px);
        left: getsp375(-15px);
      }
    }
  }

  &__date-text {
    font-size: 12px;
    @include sp {
      font-size: getsp375(18px);
    }

    &--category {
      font-size: 12px;
      @include sp {
        font-size: getsp375(18px);
      }
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 8px;
    padding-left: 28px;
    @include sp {
      display: block;
      padding-top: 0;
      padding-left: getsp375(20px);
      width: 92%;
      height: auto;
    }

    &--update {
      padding-left: 60px;
      @include sp {
        padding-left: getsp375(20px);
      }
    }

    &--category {
      padding-left: 12px;
      @include sp {
        padding-left: 0;
        padding-right: 4%;
      }
    }

    &--event {
      width: 100%;
      height: 100%;
      padding-top: 0;
      padding-left: 0;
      @include sp {
        display: inline-block;
        height: auto;
      }
    }
  }

  &__category-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--update {
      @include sp {
        width: 100%;
        margin-left: getsp375(15px);
        margin-right: getsp375(30px);
        padding-right: getsp375(40px);
      }
    }

    &--small {
      @include sp {
        width: 100%;
        margin-left: getsp375(15px);
        margin-right: getsp375(30px);
      }
    }

    &--event {
      width: 100%;
      height: 100%;
      @include sp {
        justify-content: flex-start;
        align-items: stretch;
      }
    }
  }

  &__category-line {
    border-left: 1px solid $border;
    margin-left: 6px;
    margin-top: 15px;
    padding-bottom: 5px;
    padding-right: 8px;
    @include sp {
      margin-left: getsp375(18px);
      margin-top: getsp375(32px);
      padding-bottom: getsp375(19px);
      padding-right: 0;
      width: 100%;
      max-width: 100%;
    }

    &--small {
      margin-left: -5px;
      @include sp {
        margin-left: getsp375(50px);
        margin-top: getsp375(1px);
        padding-bottom: getsp375(40px);
      }
    }

    &--event {
      display: flex;
      border-left: none;
      border-bottom: 1px solid $border;
      margin-left: 0;
      margin-top: 13px;
      padding-bottom: 8px;
      padding-right: 0;
      width: 100%;
      height: 75;
      @include sp {
        margin-top: getsp375(32px);
        padding-bottom: getsp375(20px);
        height: auto;
      }
    }
  }

  &__text-event {
    width: 380px;
    font-size: 24px;
    height: 75px;
    max-height: 75px;
    line-height: 1.5em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-family: $mincho;
    font-weight: $medium;
    overflow: hidden;
    @include sp {
      text-align: justify;
      font-size: getsp375(32px);
      letter-spacing: 0.1em;
      width: 100%;
      height: auto;
      max-height: 100%;
    }
  }

  &__category-text {
    font-size: 16px;
    letter-spacing: 0.1em;
    padding-left: 19px;
    width: 338px;
    max-width: 100%;
    @include sp {
      font-size: getsp375(26px);
      padding-left: getsp375(15px);
      width: 100%;
      max-width: 100%;
    }

    &--small {
      width: 234px;
      padding-left: 14px;
      @include sp {
        position: absolute;
        width: 100%;
        top: -4px;
      }
    }

    &--sidepanel {
      width: 100%;
      padding-left: 0;
      line-height: 2.25em;
    }

    &::before {
      content: ' \25A0';
      padding-right: getsp375(14px);
      cursor: pointer;
      @include sp {
        padding-right: getsp375(10px);
      }
    }

    &--skyblue {
      color: $skyblue;
    }

    &--islamicgreen {
      color: $islamicgreen;
    }

    &--tawny {
      color: $tawny;
    }

    &--purple {
      color: $purple;
    }

    &--amaranth {
      color: $amaranth;
    }
  }

  &__title-line {
    border-top: 1px solid $border;
    border-left: 1px solid $border;
    margin-left: 6px;
    padding-right: 8px;
    padding-bottom: 21px;
    height: 100%;
    @include sp {
      margin-left: getsp375(18px);
      padding-right: getsp375(8px);
      padding-bottom: getsp375(21px);
      width: 100%;
    }

    &--small {
      margin-left: -13px;
      padding-bottom: 5px;
      padding-right: 0;
      @include sp {
        margin-left: getsp375(50px);
        padding-bottom: getsp375(20px);
      }
    }

    &--category {
      padding-right: 2px;
      padding-bottom: 2px;
      margin-right: 6px;
      height: auto;
      @include sp {
        width: 100%;
        padding-right: 0;
        margin-right: 0;
        padding-bottom: getsp375(20px);
      }
    }

    &--event {
      border-top: none;
      border-left: 1px solid $border;
      margin-left: 0;
      margin-right: 93px;
      padding-right: 0;
      padding-bottom: 0;
      @include sp {
        margin-right: 0;
        margin-left: getsp375(50px);
      }
    }
  }

  &__title {
    padding-top: 21px;
    padding-left: 22px;
    font-size: 24px;
    font-family: $mincho;
    font-weight: $medium;
    line-height: 1.5em;
    width: 338px;
    max-width: 100%;
    @include sp {
      padding-left: getsp375(21px);
      padding-top: getsp375(17px);
      font-size: getsp375(36px);
      width: 100%;
    }

    &--small {
      padding-top: 13px;
      padding-left: 15px;
      padding-right: 8px;
      font-size: 18px;
      line-height: 1.44em;
      width: 234px;
      @include sp {
        padding-top: getsp375(19px);
        padding-left: getsp375(21px);
        font-size: getsp375(32px);
        line-height: 1.5em;
        padding-right: 0;
        width: 100%;
      }
    }

    &--sidepanel {
      font-size: 18px;
      line-height: 1.5em;
      padding-top: 0;
      padding-left: 0;
      width: 100%;
      @include sp {
        font-size: getsp375(27px);
      }
    }
  }
}
