.contact {
  margin-top: 180px;
  @include sp {
    margin-top: getsp375(152px);
    padding: 0 4%;
  }

  &__container {
    display: block;
    margin: 51px auto;
    width: 900px;
    border: 1px solid $gray;
    @include sp {
      margin: getsp375(42px) auto;
      width: 100%;
    }
  }

  &__breadcrumbs {
    position: absolute;
    top: 140px;
    left: 26px;
    @include sp {
      top: getsp375(110px);
      left: getsp375(30px);
    }
  }

  &__breadcrumbs-text {
    font-size: 14px;
    line-height: 1.71em;
    text-decoration: underline;
    @include sp {
      font-size: getsp375(24px);
      line-height: 2.25em;
    }

    &--current {
      text-decoration: none;
    }
  }

  &__arrow-right {
    padding: 0 15px;
    @include sp {
      padding: 0 getsp375(25px);
    }
  }

  &__form {
    display: inline-flex;
    flex-wrap: nowrap;
    width: 100%;
    @include sp {
      flex-wrap: wrap;
    }

    &--pc {
      @include sp {
        display: none;
      }
    }

    &:not(:last-child) {
      border-bottom: 1px solid $gray;
    }
  }

  &__label-container {
    position: relative;
    display: block;
    width: 265px;
    background-color: $tangerine;
    @include sp {
      display: inline-flex;
      width: 100%;
    }
  }

  &__label {
    display: block;
    font-size: 18px;
    line-height: 1.78em;
    margin: 25px 22px;
    @include sp {
      font-size: getsp375(32px);
      line-height: 1.31em;
      margin: getsp375(25px) getsp375(27px);
    }
  }

  &__mandatory {
    position: absolute;
    font-size: 14px;
    font-weight: $medium;
    line-height: 1.86em;
    border: 4px solid $yellow;
    background-color: $white;
    width: 47px;
    text-align: center;
    right: 22px;
    top: 25px;
    @include sp {
      position: relative;
      font-size: getsp375(24.5px);
      width: getsp375(83px);
      height: getsp375(60px);
      right: getsp375(-10px);
      top: getsp375(17px);
    }

    &--sp {
      @include sp {
        display: none;
      }
    }
  }

  &__field {
    position: relative;
    display: flex;
    align-items: flex-start;
    background-color: $white;
    padding-top: 20px;
    width: 633px;
    @include sp {
      align-items: center;
      width: 100%;
      padding: getsp375(29px);
    }

    &--big {
      //
    }

    &--second {
      @include sp {
        flex-direction: column;
      }
    }

    &--street {
      padding-top: 0;
      justify-content: flex-start;
      flex-direction: column;
      @include sp {
        padding: getsp375(29px);
        align-items: center;
        justify-content: center;
      }
    }
  }

  &__field-wrapper {
    position: absolute;
    top: 80px;
    left: 302px;
    width: 100%;
    @include sp {
      left: 0;
      top: getsp375(110px);
    }
  }

  &__select {
    display: block;
    font-size: 16px;
    font-family: inherit;
    line-height: 2em;
    color: $select;
    padding-left: 11px;
    padding-right: 33px;
    margin-bottom: auto;
    margin-left: 22px;
    width: 281px;
    height: 40px;
    border: 1px solid $gray;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    appearance: none;
    background-image: url('/img/select__arrow.png'), linear-gradient(0deg, rgba(204, 204, 204, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 9px top 50%, 0 0;
    cursor: pointer;
    @include sp {
      font-size: getsp375(28px);
      margin-left: 0;
      padding-left: getsp375(20px);
      padding-right: 0;
      width: 100%;
      height: getsp375(74px);
    }

    &--small {
      width: 162px;
      margin-top: 24px;
      margin-bottom: 20px;
      @include sp {
        width: 100%;
        margin: 0;
      }
    }

    &:hover {
      border-color: $border;
    }
  }

  &__option {
    font-size: 16px;
    line-height: 2em;
    color: $select;
    @include sp {
      font-size: getsp375(30px);
    }
  }

  &__textbox {
    font-size: 16px;
    font-family: inherit;
    line-height: 2em;
    width: 591px;
    height: 40px;
    padding-left: 11px;
    padding-right: 11px;
    margin-left: 21px;
    margin-right: 21px;
    border-radius: 5px;
    border: 1px solid $gray;
    box-shadow: inset 0 7px 9px -7px $gray;
    @include sp {
      width: 100%;
      height: getsp375(74px);
      margin: 0;
    }

    &--address {
      margin-top: 20px;
      margin-left: 10px;
      width: 160px;
      box-shadow: none;
      @include sp {
        width: getsp375(325px);
        margin: 0 getsp375(20px);
      }
    }

    &--postal {
      margin-bottom: 20px;
      margin-left: 21px;
      margin-right: 41px;
      @include sp {
        width: 100%;
        height: getsp375(74px);
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-top: getsp375(31px);
      }
    }

    &--small {
      width: 280px;
      padding-right: 0;
      margin-right: 0;
      @include sp {
        width: 100%;

        &:not(:last-child) {
          margin-bottom: getsp375(29px);
        }
      }
    }

    &--big {
      margin: 0 20px 20px;
      height: 170px;
      resize: none;
      @include sp {
        margin: 0;
        height: getsp375(300px);
      }
    }

    &--many {
      width: 280px;
      padding-right: 0;
      margin-right: 0;
      @include sp {
        margin: 0;
      }
    }
  }

  &__postal {
    display: inline-block;
    font-size: 18px;
    line-height: 1.78em;
    color: $black;
    @include sp {
      font-size: getsp375(32px);
      margin-bottom: getsp375(20px);
      margin-top: getsp375(10px);
    }
  }

  &__postal-container {
    position: relative;
    margin-left: 18px;
    @include sp {
      display: flex;
      margin-left: 0;
      margin-bottom: getsp375(20px);
      width: 100%;
    }
  }

  &__agreement-container {
    position: relative;
    height: 140px;
    width: 890px;
    background: $white;
    overflow-y: scroll;
    overflow-x: hidden;
    @include sp {
      width: 100%;
      height: getsp375(500px);
    }

    &::-webkit-scrollbar {
      width: 12px;
      height: 30px;
      @include sp {
        width: getsp375(18px);
        height: getsp375(45px);
      }
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background: $scrollbar;
      @include sp {
        border-radius: getsp375(8px);
      }
    }
  }

  &__agreement-main {
    background: $white;
    width: 900px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 30px;
    border: 1px solid $gray;
    border-radius: 5px;
    @include sp {
      width: 100%;
      padding-top: getsp375(20px);
      padding-bottom: getsp375(22px);
      padding-right: getsp375(20px);
      margin-top: getsp375(120px);
      margin-bottom: getsp375(40px);
    }
  }

  &__agreement-text {
    font-size: 16px;
    line-height: 1.63em;
    margin-left: 24px;
    margin-right: 30px;
    margin-top: 6px;
    @include sp {
      font-size: getsp375(32px);
      line-height: 1.75em;
      margin-left: getsp375(40px);
      margin-right: getsp375(40px);
      margin-top: 0;
    }

    &--list {
      margin-left: 20px;
      margin-top: 18px;
      margin-bottom: 0;
      width: 100%;
      @include sp {
        margin-left: getsp375(42px);
        margin-top: getsp375(35px);
      }
    }

    &--desc {
      margin-left: -18px;
      margin-top: 0;
      margin-bottom: 10px;
      @include sp {
        margin-left: getsp375(-36px);
        margin-bottom: getsp375(32px);
        margin-right: 0;
      }
    }
  }

  &__checkbox-container {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 900px;
    @include sp {
      width: 100%;
    }
  }

  &__checkbox2 {
    position: absolute;
    opacity: 0;

    & + .contact__checkbox-label {
      position: relative;
      cursor: pointer;
      padding: 0;
    }

    & + label::before {
      content: '';
      margin-right: 17px;
      margin-top: 2px;
      display: inline-block;
      vertical-align: text-top;
      width: 21px;
      height: 21px;
      background: $white;
      border: 1px solid $checkbox;
      border-radius: 3px;
      @include sp {
        margin-right: getsp375(20px);
        margin-top: getsp375(4px);
        width: getsp375(37px);
        height: getsp375(37px);
      }
    }

    &:hover + .contact__checkbox-label::before {
      background: $white;
    }

    &:focus + .contact__checboxt-label::before {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }

    &:checked + .contact__checkbox-label::before {
      background: $white;
    }

    &:disabled + .contact__checkbox-label {
      color: $gray;
      cursor: auto;
    }

    &:disabled + .contact__checkbox-label::before {
      box-shadow: none;
      background: $gray;
    }

    &:checked + .contact__checkbox-label::after {
      content: '';
      position: absolute;
      left: 2px;
      top: 7px;
      width: 100%;
      height: 100%;
      background: url('/img/check.png');
      background-repeat: no-repeat;
      @include sp {
        left: getsp375(2px);
        top: getsp375(10px);
      }
    }
  }

  &__checkbox-label {
    font-size: 18px;
    line-height: 1.39em;
    margin-left: 22px;
    @include sp {
      font-size: getsp375(32px);
      margin-left: 0;
    }
  }

  &__verificiation-btn {
    position: relative;
    display: block;
    margin: 40px auto 142px auto;
    font-size: 26px;
    font-weight: $bold;
    letter-spacing: 0.025em;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
    width: 341px;
    height: 110px;
    background-color: $yellow;
    border: none;
    outline: none;
    cursor: pointer;
    @include sp {
      margin: getsp375(61px) auto getsp375(80px) auto;
      padding-top: getsp375(50px);
      padding-bottom: getsp375(50px);
      font-size: getsp375(38px);
      width: 63.67%;
      height: getsp375(158px);
    }
  }

  &__address {
    font-size: 18px;
    line-height: 1.78em;
    cursor: pointer;
    @include sp {
      display: inline-block;
      font-size: getsp375(32px);
      margin-bottom: getsp375(20px);
      margin-top: getsp375(10px);
    }
  }

  &__break {
    @include sp {
      display: none;
    }
  }
}
