.container {
  z-index: 1;
  overflow: hidden;
  @include sp {
    z-index: 2;
  }

  &__content {
    position: relative;
    margin: 21px auto 0;
    @include sp {
      margin: getsp375(54px) auto 0;
      z-index: 2;
    }
  }
}
