.event {
  position: relative;
  @include max-width;

  &__description-container {
    padding-left: 20px;
    padding-top: 20px;
    height: 100%;
    @include sp {
      padding: getsp375(20px);
      height: auto;
    }
  }

  &__description {
    font-size: 16px;
    line-height: 1.5em;
    width: 100%;
    @include sp {
      font-size: getsp375(26px);
    }
  }

  &__cont {
    position: relative;
    display: inline-block;
  }
}
