.footer {
  position: relative;
  background-color: $black;
  margin-top: 106px;
  width: 100%;
  @include sp {
    margin-top: getsp375(171px);
  }

  &__link {
    text-align: center;
    width: 950px;
    margin: -13px auto 0;
    @include sp {
      margin-top: getsp375(-70px);
      padding: 0 4%;
      width: 100%;
    }
  }

  &__navigation {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    line-height: 2.5em;
    color: $gray;
    margin-right: 35px;
    @include sp {
      font-size: getsp375(28px);
      margin-right: getsp375(30px);
      margin-left: getsp375(30px);
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__contact {
    position: relative;
    width: 427px;
    height: 110px;
    background-color: $yellow;
    border: 20px solid $black;
    top: -23px;
    margin: 0 auto;
    @include sp {
      width: 72.36%;
      height: getsp375(190px);
      top: getsp375(-95px);
    }
  }

  &__contact-text {
    display: block;
    text-align: center;
    font-weight: $medium;
    font-size: 24px;
    line-height: 1.67em;
    color: $black;
    padding-top: 15px;
    @include sp {
      font-size: getsp375(36px);
      line-height: 1.67em;
      padding: getsp375(29px) 0;
    }
  }

  &__icon-container {
    position: relative;
    text-align: center;
    margin-top: 36px;
    width: 100%;
    @include sp {
      margin-top: getsp375(63px);
    }
  }

  &__icon {
    text-align: center;
    width: 32px;
    @include sp {
      width: 100%;
    }

    &:not(:last-child) {
      padding-right: 30px;
      @include sp {
        padding-right: getsp375(60px);
      }
    }
  }

  &__container {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
  }

  &__logo-container {
    position: relative;
    text-align: center;
    margin-top: 29px;
    @include sp {
      margin-top: getsp375(44px);
    }
  }

  &__logo {
    display: inline-block;
    width: 225px;
    @include sp {
      width: getsp375(372px);
    }
  }

  &__copyright {
    text-align: center;
    font-size: 14px;
    line-height: 2.86em;
    color: $gray;
    margin-top: 8px;
    margin-bottom: 24px;
    @include sp {
      font-size: getsp375(24px);
      line-height: 2.91em;
      margin-bottom: getsp375(24px);
    }
  }

  &__top {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9999;
    opacity: 0;
    width: 51px;
    height: 51px;
    transform: translateY(100px);
    transition: all 0.5s ease;
    cursor: pointer;
    @include sp {
      width: getsp375(91px);
      height: getsp375(91px);
    }
  }

  &__show {
    opacity: 1;
    transform: translateY(0);
  }

  &__arrow {
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
}
