.header {
  position: fixed;
  width: 100%;
  height: 88px;
  display: flex;
  justify-content: space-between;
  top: 0;
  transition: 0.4s ease-out;
  background-color: white;
  overflow: hidden;
  z-index: 2;
  @include sp {
    display: none;
  }

  &__container {
    display: flex;
  }

  &__line {
    width: 367px;
    height: auto;
  }

  &__line-container {
    width: auto;
    height: 50px;
  }

  &__callout {
    width: 328px;
    margin-top: 21px;
  }

  &__callout-text {
    position: relative;
    display: inline-block;
    width: 272px;
    top: -53px;
    left: 35px;
    font-size: 16px;
    line-height: 2.5em;
  }

  &__callout-container {
    display: inline-block;
    width: auto;
    height: 50px;
  }

  &__search {
    width: auto;
    display: inline;
  }

  &__search-box {
    font-family: $noto-sans;
    font-size: 18px;
    line-height: 2.5em;
    margin-top: 25px;
    width: 200px;
    border: 1px solid $gray;
    padding-left: 5px;
    padding-right: 35px;
    height: 40px;
    border-radius: 5px;
    outline: none;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #999;
      font-family: $noto-sans;
    }
  }

  &__search-btncontainer {
    position: relative;
  }

  &__search-btn {
    background: transparent;
    border: none;
    position: relative;
    width: 20px;
    height: 20px;
    top: -30px;
    bottom: 0;
    right: -167px;
    transition: transform 0.25s;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  &__operation {
    position: relative;
    display: inline-block;
    width: 140px;
    font-size: 16px;
    line-height: 2.5em;
    color: black;
  }

  &__operation-container {
    width: 140px;
    padding: 26px 0;
    text-align: center;
  }

  &__contact {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 160px;
    font-size: 18px;
    color: black;
  }

  &__contact-container {
    width: 160px;
    padding-top: 30px;
    background-color: $yellow;
  }

  &__menu {
    position: relative;
    right: 40px;
    display: none;
    flex-direction: column;
    width: 40px;
    height: 40px;
    background-color: $yellow;
  }

  &__menu-container {
    margin-top: 10px;
  }

  &__bar {
    width: 23px;
    height: 2px;
    background-color: black;
    margin-top: 5px;
    margin-right: 11px;
    margin-left: 11px;
  }
}
