.nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 100%;
  top: 88px;
  background-color: black;
  z-index: 999;
  transition: 0.8s ease-out;
  animation: zoomNav 1s;
  @include sp {
    background-color: white;
    justify-content: space-between;
    width: 100%;
    top: 0;
    padding: 0;
    animation: none;
  }

  &__item {
    display: inline-block;
    padding: 5px;
    color: white;
    font-size: getsp375(32px);
    font-weight: $regular;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    @include sp {
      color: $yellow;
      font-size: getsp375(28px);
      padding: getsp(30px) 0 getsp(30px) getsp375(5px);
      width: 100%;
    }

    &:hover {
      color: $yellow;
    }

    .nav__arrow-toggle {
      &::after {
        border-color: $yellow transparent transparent;
      }
    }

    &--dropdown {
      display: inline-block;
      padding: 5px;
      color: white;
      font-size: getsp375(32px);
      font-weight: $regular;
      text-decoration: none;
      white-space: nowrap;
      cursor: pointer;
      padding-right: 30px;
      @include sp {
        color: $yellow;
        font-size: getsp375(28px);
        padding: getsp(0) 0 getsp(30px) getsp375(5px);
        width: 100%;
      }

      &:hover {
        color: $yellow;
      }
    }

    &--black {
      display: none;
      @include sp {
        display: inline-block;
        color: black;
        font-size: getsp375(32px);
        font-weight: $regular;
        text-decoration: none;
        cursor: pointer;
        padding: getsp(30px) 0 getsp(30px) getsp375(5px);
        width: 100%;
      }
    }

    &--contact {
      @include sp {
        display: inline-block;
        color: $yellow;
        font-size: getsp375(32px);
        font-weight: $regular;
        text-decoration: none;
        cursor: pointer;
        padding: getsp(30px) 0 getsp(30px) getsp375(5px);
        width: 100%;
      }
    }
  }

  &__search {
    display: none;
    @include sp {
      display: inline-block;
      width: 100%;
      height: getsp375(130px);
      background-color: white;
    }
  }

  &__search-box {
    display: none;
    @include sp {
      display: inline;
      font-family: $noto-sans;
      font-size: getsp375(32px);
      padding-left: getsp375(20px);
      line-height: 2.5em;
      width: 100%;
      height: getsp375(70px);
      margin-top: getsp375(34px);
      border: 1px solid $gray;
      border-radius: getsp375(10px);
      outline: none;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: $placeholder;
        font-family: $noto-sans;
      }
    }
  }

  &__search-btn {
    display: none;
    @include sp {
      position: absolute;
      display: inline;
      padding-top: getsp375(6px);
      background: transparent;
      border: none;
      width: getsp375(40px);
      height: getsp375(40px);
      margin-top: getsp375(44px);
      margin-left: getsp375(-58px);
      transition: transform 0.25s;
      cursor: pointer;

      &:hover {
        transform: scale(1.2);
      }

      &:focus {
        outline: none;
      }
    }
  }

  &__logo {
    display: none;
    @include sp {
      display: inline-block;
      width: getsp375(360px);
      height: getsp375(90px);
    }
  }

  &__links {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    @include sp {
      position: fixed;
      top: getsp375(90px);
      left: 0;
      opacity: 0;
      min-width: 100%;
      height: calc(100% - 45px);
      overflow-y: auto;
      font-size: getsp375(14px);
      text-align: left;
      transition: opacity 0.8s 0.5s, clip-path 1s 0.5s;
      z-index: -999;
      transform: translateX(100%);

      &::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background-color: rgb(102, 102, 102);
        overflow: hidden;
      }
    }

    &--link {
      display: flex;
      align-items: center;
      padding: 0 15px;
      transition: opacity 0.4s ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      @include sp {
        border-top: solid 1px #ccc;
        opacity: 0;
        transform: translateX(100%);
        padding: 0 getsp375(30px);
        width: 100%;
        text-align: left;
        background-color: black;
      }
    }

    &--white {
      display: none;
      padding: 2px 15px;
      transition: opacity 0.4s ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      @include sp {
        display: flex;
        border-top: solid 1px $gray;
        opacity: 0;
        transform: translateX(100%);
        width: 100%;
        text-align: left;
        background-color: white;
      }
    }

    &--contact {
      display: none;
      transition: opacity 0.4s ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      @include sp {
        display: block;
        border-top: solid 1px #ccc;
        opacity: 0;
        transform: translateX(100%);
        width: 100%;
        line-height: 3.5em;
        height: getsp375(156px);
        text-align: left;
        background-color: white;
      }
    }
  }

  &__icon {
    position: relative;
    left: 0;
    top: 0;
    height: 45px;
    width: 45px;
    cursor: pointer;
    z-index: 1;
    display: none;

    &--line {
      display: block;
      position: relative;
      background: rgba(0, 0, 0, 0);
      height: 2px;
      width: 23px;
      left: 11px;
      top: 27px;
      transition: background 0.8s ease;
      transform: translateY(-5px);

      &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background: black;
        transition: background 0.8s ease;
        transform: translateY(-5px);
      }

      &::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background: black;
        transition: background 0.8s ease;
        transform: translateY(5px);
      }
    }
  }

  &__icon-container {
    @include sp {
      height: getsp375(92px);
      width: getsp375(90px);
      background-color: $yellow;
    }
  }

  &__contact {
    display: none;
    @include sp {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: getsp375(36px);
      line-height: 3em;
      background: $yellow;
      overflow: hidden;
      margin: getsp375(20px) auto;
      width: 100%;
      height: getsp375(112px);
      border-radius: getsp375(20px);
      padding: getsp375(32px) getsp375(30px);
    }
  }

  &__contact-container {
    display: none;
    @include sp {
      display: block;
      background: white;
      padding: getsp375(0) getsp375(30px);
    }
  }

  &__btn {
    position: absolute;
    top: -200px;
  }

  &__link-container {
    position: relative;
    display: inline;
    width: 100%;
    cursor: pointer;

    &:hover {
      .nav__box {
        visibility: visible;
        opacity: 1;
        @include sp {
          visibility: hidden;
        }
      }

      .nav__box--arow {
        visibility: visible;
        opacity: 1;
        @include sp {
          visibility: hidden;
        }
      }
    }
  }

  &__box {
    position: absolute;
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    justify-content: space-around;
    min-width: 257px;
    background-color: white;
    color: black;
    top: 5px;
    left: 18px;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transition: all 400ms ease-in-out;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    @include sp {
      position: relative;
      display: none;
      text-align: left;
      width: 100%;
      height: 21%;
      background-color: black;
      color: black;
      top: getsp375(-30px);
      left: 0;
      border-radius: 0;
      box-shadow: 0 0 0 0;
      transition: 0;
    }

    &--arrow {
      margin-top: 38px;
      visibility: hidden;
      opacity: 0;
      transition: all 400ms ease-in-out;
      @include sp {
        margin-top: 0;
        display: none;
      }

      &::after {
        content: '';
        position: absolute;
        left: 20px;
        top: -9px;
        border-style: solid;
        border-width: 0 8.5px 10px 8.5px;
        border-color: transparent transparent white transparent;
        @include sp {
          left: 0;
          top: 0;
          display: none;
        }
      }
    }
  }

  &__dropdown {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    @include sp {
      padding: 0;
    }
  }

  &__dropdown-text {
    padding-right: 10px;
    font-size: 16px;
    line-height: 2em;
    @include sp {
      color: $yellow;
      padding-right: 0;
      line-height: 2.36em;
      font-size: getsp375(28px);
    }

    &:hover {
      color: $yellow;
    }
  }

  &__dropdown-arrow {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 8px;
    height: 8px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    transform: rotate(135deg);
    @include sp {
      width: getsp375(16px);
      height: getsp375(16px);
      border-top: 2px solid $yellow;
      border-left: 2px solid $yellow;
    }
  }

  &__text {
    min-width: 107px;
    padding-left: 20px;
    @include sp {
      min-width: getsp375(218px);
      height: auto;
    }
  }

  &__arrow-toggle {
    @include sp {
      &::before,
      &::after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: getsp375(11px) getsp375(10px) 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scaleY(1);
        left: getsp375(140px);
      }

      &::before {
        content: '';
        position: absolute;
        border-color: rgb(0, 0, 0) transparent transparent;
        top: calc(70% - 7px);
        z-index: 1;
      }

      &::after {
        content: '';
        position: absolute;
        top: calc(70% - 5px);
        border-color: $yellow transparent transparent;
      }
    }
  }

  &__dropdown-toggle {
    visibility: hidden;
    @extend.nav__arrow-toggle;
    @include sp {
      visibility: visible;
      height: getsp375(40px);
      width: 100%;
      top: getsp375(28px);
      right: getsp375(20px);
      position: absolute;
    }

    &.is-active {
      @include sp {
        top: getsp375(17px);
        transform: scaleY(-1);

        .nav__arrow-toggle {
          display: none;
        }

        &::before,
        &::after {
          content: '';
          border-style: solid;
          border-width: getsp375(11px) getsp375(10px) 0;
          margin-left: 80%;
        }

        &::before {
          content: '';
          position: absolute;
          border-color: rgb(0, 0, 0) transparent transparent;
          top: calc(25% - 7px);
          z-index: 1;
        }

        &::after {
          content: '';
          position: absolute;
          top: calc(25% - 5px);
          border-color: $yellow transparent transparent;
        }
      }
    }
  }

  &__dropdown-hover {
    width: 110px;
    height: 40px;
    top: 0;
    left: 0;
    position: absolute;

    &:hover {
      .nav__arrow-hover {
        &::before,
        &::after {
          content: '';
          top: getsp375(10px);
          transform: scaleY(1);
          transition: all 0.2s ease-in-out;
        }

        &::before {
          content: '';
          position: absolute;
          top: calc(50% - 7px);
          border-color: rgb(0, 0, 0) transparent transparent;
        }

        &::after {
          content: '';
          position: absolute;
          top: calc(50% - 5px);
          border-color: $yellow transparent transparent;
        }
      }
    }
    @include sp {
      display: none;
    }
  }

  &__arrow-hover {
    &::before,
    &::after {
      content: '';
      width: 0;
      height: 0;
      left: 80px;
      border-style: solid;
      border-width: 5px 5px 0;
      transform: scaleY(-1);
      transition: all 0.2s ease-in-out;
    }

    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      top: calc(50% - 5px);
      border-color: rgb(0, 0, 0) transparent transparent;
    }

    &::after {
      content: '';
      border-color: white transparent transparent;
      position: absolute;
      top: calc(50% - 7px);
    }
    @include sp {
      display: none;
    }
  }

  &__dropdownchk {
    visibility: hidden;
  }

  &__dropdownchk:checked ~ .nav__box {
    @include sp {
      visibility: visible;
      display: inline;
    }
  }
}
