.plan {
  position: relative;
  overflow: hidden;

  &__container {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    @include sp {
      flex-direction: column;
      justify-content: center;
      margin-top: 0;
    }
  }

  &__content {
    width: 100%;
    margin: 0 14px;
    @include sp {
      margin: 0;
    }
  }

  &__title-container {
    width: 760px;
    margin: 0;
    @include sp {
      width: 100%;
    }
  }

  &__business-container {
    width: 760px;
    @include sp {
      width: 100%;
    }
  }

  &__business-box {
    display: flex;
    background: $white;
    width: 760px;

    &:first-child {
      margin-top: 42px;
      @include sp {
        margin-top: getsp375(21px);
      }
    }

    &:not(:last-child) {
      margin-bottom: 36px;
      @include sp {
        margin-bottom: getsp375(40px);
      }
    }
    @include sp {
      width: 100%;
      height: 100%;
    }
  }

  &__image {
    width: 320px;
    height: 260px;
    @include sp {
      width: getsp375(260px);
      height: auto;
      object-fit: cover;
      object-position: 65% 100%;
    }
  }

  &__text-container {
    position: relative;
    text-align: left;
    padding-top: 30px;
    padding-left: 27px;
    @include sp {
      padding-top: getsp375(91px);
      padding-left: getsp375(40px);
    }
  }

  &__business-text {
    font-size: 28px;
    font-weight: $bold;
    @include sp {
      position: absolute;
      top: getsp375(20px);
      left: getsp375(-20px);
      text-align: center;
      white-space: nowrap;
      font-size: getsp375(32px);
      font-weight: $regular;
      color: $white;
      background-color: $plan-title;
      padding: getsp375(12px) getsp375(30px);
    }

    &--caribbeangreen {
      @include sp {
        background-color: $caribbeangreen;
      }
    }

    &--tawny {
      @include sp {
        background-color: $tawny;
      }
    }
  }

  &__business-description {
    font-size: 21px;
    font-family: $mincho;
    font-weight: $medium;
    line-height: 1.57em;
    padding-top: 14px;
    padding-right: 26px;
    width: 415px;
    @include sp {
      display: none;
    }

    &--sp {
      display: none;
      @include sp {
        display: block;
        font-size: getsp375(32px);
        padding-top: getsp375(9px);
        padding-right: getsp375(43px);
        width: 100%;
        margin: 0;
      }
    }
  }

  &__button-container {
    display: flex;
    margin-top: 26px;
    margin-left: 260px;
    height: 38px;
    @include sp {
      justify-content: flex-end;
      margin-top: getsp375(30px);
      margin-bottom: getsp375(20px);
      margin-right: 4.2%;
      margin-left: 0;
    }
  }

  &__instagram-container {
    margin-top: 12px;
    @include sp {
      margin-top: getsp375(80px);
      height: getsp375(1070px);
      overflow-y: scroll;
    }
  }

  &__instagram-page {
    height: 100%;
    @include sp {
      width: 100%;
      height: auto;
    }
  }
}
