.sidepanel {
  background-color: white;
  width: 280px;
  margin-left: 36px;
  margin-top: 28px;
  border: 1px solid $border;
  @include sp {
    width: 691px;
    max-width: 100%;
    margin-left: 0;
    margin-top: getsp375(60px);
  }

  &__title {
    position: relative;
    font-size: 16px;
    text-align: center;
    font-weight: $bold;
    line-height: 2.5em;
    letter-spacing: 0.1em;
    color: $yellow;
    background-color: $black;
    width: 100%;
    max-width: 100%;
    @include sp {
      font-size: getsp375(28px);
      line-height: 2.5em;
    }
  }

  &__image {
    position: relative;
    margin: 20px;
    width: 238px;
    height: 131px;
    @include sp {
      display: block;
      width: 85.38%;
      height: auto;
      margin: getsp375(40px) auto;
    }
  }

  &__content {
    width: 100%;
    padding: 0 20px;
    @include sp {
      padding: 0 getsp375(50px);
    }
  }

  &__date {
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 0;
    @include sp {
      font-size: getsp375(24px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1.5em;
    margin-bottom: 30px;
    @include sp {
      font-size: getsp375(28px);
      line-height: 1.5em;
      margin-bottom: getsp375(33px);
    }
  }

  &__category-wrapper {
    margin: 22px auto 22px 19px;
    @include sp {
      margin: getsp375(40px) auto getsp375(40px) getsp375(40px);
    }
  }

  &__ranking {
    margin: 21px auto;
    list-style-type: none;
    @include sp {
      margin: getsp375(40px) getsp375(15px);
    }

    &--item {
      position: relative;
      display: block;
      counter-increment: step-counter;
      font-size: 16px;
      line-height: 1.5em;
      margin-left: 17px;
      padding-left: 15px;
      @include sp {
        font-size: getsp375(28px);
        margin-left: getsp375(20px);
        padding-left: 0;
        width: 100%;
      }

      &:hover {
        text-decoration: underline;
      }

      &::before {
        position: absolute;
        content: counter(step-counter);
        font-size: 18px;
        line-height: 1.33em;
        font-weight: $bold;
        left: -18px;
        cursor: pointer;
        @include sp {
          font-size: getsp375(32px);
          left: getsp375(-40px);
        }
      }
    }
  }

  &__tags {
    display: inline-block;
    font-size: 16px;
    line-height: 1.5em;
    padding-right: 17px;
    padding-top: 15px;
    @include sp {
      font-size: getsp375(28px);
      line-height: 2.5em;
      padding-right: getsp375(33px);
      padding-top: 0;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__tags-wrapper {
    padding-left: 21px;
    padding-bottom: 33px;
    @include sp {
      padding-left: getsp375(42px);
      padding-bottom: getsp375(40px);
      padding-top: getsp375(40px);
    }
  }
}
