@include sp {
  .nav {
    &__icon {
      display: block;

      &--line {
        animation: closedMid 0.8s backwards;
        animation-direction: reverse;

        &::before {
          animation: closedTop 0.8s backwards;
          animation-direction: reverse;
        }

        &::after {
          animation: closedTop 0.8s backwards;
          animation-direction: reverse;
        }
      }
    }

    &__btn:checked ~ .nav__links {
      opacity: 1;
      transform: translateX(0);
      display: inline-block;

      .nav__links--link,
      .nav__links--white,
      .nav__links--contact {
        opacity: 1;
        transform: translateX(0);
        transition: opacity 0.4s ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        &:nth-of-type(1) {
          transition-delay: 0.5s;
        }

        &:nth-of-type(2) {
          transition-delay: 0.6s;
        }

        &:nth-of-type(3) {
          transition-delay: 0.7s;
        }

        &:nth-of-type(4) {
          transition-delay: 0.8s;
        }

        &:nth-of-type(5) {
          transition-delay: 0.9s;
        }

        &:nth-of-type(6) {
          transition-delay: 1s;
        }

        &:nth-of-type(7) {
          transition-delay: 1.1s;
        }

        &:nth-of-type(8) {
          transition-delay: 1.2s;
        }

        &:nth-of-type(9) {
          transition-delay: 1.3s;
        }
      }

      .nav__links--contact {
        opacity: 1;
        transform: translateX(0);
        transition: opacity 0.4s ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        &:nth-of-type(1) {
          transition-delay: 0.4s;
        }
      }
    }

    &__btn:checked ~ .nav__icon {
      animation: openMid 0.8s forwards;
      top: getsp375(-8px);
      left: getsp375(8px);

      .nav__icon--line {
        background: #000;
        animation: openTop 0.8s forwards;

        &::before {
          background: #000;
          animation: openTop 0.8s forwards;
        }

        &::after {
          display: none;
        }
      }
    }
  }
}
