.slider {
  position: relative;
  margin-top: 133px;
  @include sp {
    margin-top: getsp375(90px);
  }

  &__cell {
    width: 100%;
    height: auto;
    margin-right: 10px;
    @include sp {
      margin-right: getsp375(20px);
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: auto;
    @include sp {
      display: none;
    }

    &--sp {
      display: none;
      @include sp {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
}
