.title {
  position: relative;

  &__lines {
    position: relative;
    background: url("/img/title_lines.png") repeat-x center center / auto 8px;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0 auto;
    @include sp {
      background: url("/img/title_lines.png") repeat-x center center / auto 7px;
    }
  }

  &__text {
    position: relative;
    display: inline-block;
    background-color: $background;
    font-size: 28px;
    font-weight: bold;
    font-family: $noto-serif;
    color: $title;
    letter-spacing: 0.5em;
    line-height: 42px;
    text-transform: uppercase;
    text-align: center;
    padding-left: 29px;
    padding-right: 10px;
    white-space: nowrap;
    @include sp {
      font-size: getsp375(50px);
      letter-spacing: 0.3em;
      margin-left: getsp375(0);
      padding-left: getsp375(30px);
      padding-right: getsp375(10px);
    }
  }
}
