@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol,
div {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 10px;
  -webkit-font-feature-settings: "palt";
  font-feature-settings: "palt";
  font-weight: 400;
  font-family: "Noto Sans JP", sans-serif;
  background-color: #f1f1f1;
}
@media screen and (max-width: 1220px) {
  html,
  body {
    min-width: 1220px;
  }
}
@media screen and (max-width: 767px) {
  html,
  body {
    min-width: 100%;
  }
}

.header {
  position: fixed;
  width: 100%;
  height: 88px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  top: 0;
  -webkit-transition: 0.4s ease-out;
  -o-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  background-color: white;
  overflow: hidden;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .header {
    display: none;
  }
}
.header__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.header__line {
  width: 367px;
  height: auto;
}
.header__line-container {
  width: auto;
  height: 50px;
}
.header__callout {
  width: 328px;
  margin-top: 21px;
}
.header__callout-text {
  position: relative;
  display: inline-block;
  width: 272px;
  top: -53px;
  left: 35px;
  font-size: 16px;
  line-height: 2.5em;
}
.header__callout-container {
  display: inline-block;
  width: auto;
  height: 50px;
}
.header__search {
  width: auto;
  display: inline;
}
.header__search-box {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
  line-height: 2.5em;
  margin-top: 25px;
  width: 200px;
  border: 1px solid #ccc;
  padding-left: 5px;
  padding-right: 35px;
  height: 40px;
  border-radius: 5px;
  outline: none;
}
.header__search-box:focus {
  outline: none;
}
.header__search-box::-webkit-input-placeholder {
  color: #999;
  font-family: "Noto Sans JP", sans-serif;
}
.header__search-box:-ms-input-placeholder {
  color: #999;
  font-family: "Noto Sans JP", sans-serif;
}
.header__search-box::-ms-input-placeholder {
  color: #999;
  font-family: "Noto Sans JP", sans-serif;
}
.header__search-box::placeholder {
  color: #999;
  font-family: "Noto Sans JP", sans-serif;
}
.header__search-btncontainer {
  position: relative;
}
.header__search-btn {
  background: transparent;
  border: none;
  position: relative;
  width: 20px;
  height: 20px;
  top: -30px;
  bottom: 0;
  right: -167px;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  -o-transition: transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  cursor: pointer;
}
.header__search-btn:focus {
  outline: none;
}
.header__operation {
  position: relative;
  display: inline-block;
  width: 140px;
  font-size: 16px;
  line-height: 2.5em;
  color: black;
}
.header__operation-container {
  width: 140px;
  padding: 26px 0;
  text-align: center;
}
.header__contact {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 160px;
  font-size: 18px;
  color: black;
}
.header__contact-container {
  width: 160px;
  padding-top: 30px;
  background-color: #fedb00;
}
.header__menu {
  position: relative;
  right: 40px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 40px;
  height: 40px;
  background-color: #fedb00;
}
.header__menu-container {
  margin-top: 10px;
}
.header__bar {
  width: 23px;
  height: 2px;
  background-color: black;
  margin-top: 5px;
  margin-right: 11px;
  margin-left: 11px;
}

.container {
  z-index: 1;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .container {
    z-index: 2;
  }
}
.container__content {
  position: relative;
  margin: 21px auto 0;
}
@media screen and (max-width: 767px) {
  .container__content {
    margin: 27px auto 0;
    z-index: 2;
  }
}

.content {
  position: relative;
  max-width: 1220px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .content {
    max-width: 100%;
    padding: 0 4%;
  }
}
.content__image {
  width: 100%;
  height: 210px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border: 4px solid white;
}
@media screen and (max-width: 767px) {
  .content__image {
    width: 85.38%;
    height: auto;
  }
}
.content__image--small {
  width: 278px;
  height: 156px;
}
@media screen and (max-width: 767px) {
  .content__image--small {
    top: -10px;
    width: 33.29%;
    height: auto;
  }
}
.content__image--category {
  margin-top: 22px;
}
@media screen and (max-width: 767px) {
  .content__image--category {
    margin-top: 15px;
    width: 100%;
    height: auto;
  }
}
.content__image--event {
  height: 536px;
}
@media screen and (max-width: 767px) {
  .content__image--event {
    width: 73.8%;
    height: auto;
  }
}
.content__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 380px;
  color: black;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .content__item {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 767px) {
  .content__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .content__item:last-child {
    margin-bottom: 0;
  }
}
.content__item:not(:nth-child(3n + 3)) {
  margin-right: 40px;
}
@media screen and (max-width: 767px) {
  .content__item:not(:nth-child(3n + 3)) {
    margin-right: 0;
  }
}
.content__item--small {
  width: 278px;
  margin-bottom: 31px;
}
@media screen and (max-width: 767px) {
  .content__item--small {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%;
  }
}
.content__item--small:not(:nth-child(3n + 3)) {
  margin-right: 35px;
}
@media screen and (max-width: 767px) {
  .content__item--small:not(:nth-child(3n + 3)) {
    margin-right: 0;
  }
}
.content__item--category {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .content__item--category {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 57%;
    padding-right: 12.5px;
  }
}
.content__item-container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 27px;
}
@media screen and (max-width: 767px) {
  .content__item-container {
    width: 100%;
    margin-top: 21px;
    height: auto;
  }
}
.content__item-container--small {
  width: 907px;
}
@media screen and (max-width: 767px) {
  .content__item-container--small {
    width: 100%;
  }
}
.content__item-container--category {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .content__item-container--category {
    height: auto;
  }
}
.content__item-container--event {
  margin-top: 34px;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .content__item-container--event {
    margin-top: 8.5px;
    height: auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.content__date {
  position: absolute;
  margin-top: 5px;
  left: -18px;
  top: 38px;
  height: 28px;
  white-space: nowrap;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
@media screen and (max-width: 767px) {
  .content__date {
    margin-top: 0;
    left: -22.5px;
    top: 45px;
  }
}
.content__date--small {
  left: -5px;
}
@media screen and (max-width: 767px) {
  .content__date--small {
    left: 0;
    top: 13.5px;
  }
}
.content__date--category {
  left: -30px;
}
@media screen and (max-width: 767px) {
  .content__date--category {
    left: -17.5px;
    top: 27.5px;
  }
}
.content__date--event {
  top: 34px;
  left: -201px;
}
@media screen and (max-width: 767px) {
  .content__date--event {
    top: 24px;
    left: -7.5px;
  }
}
.content__date-text {
  font-size: 12px;
}
@media screen and (max-width: 767px) {
  .content__date-text {
    font-size: 9px;
  }
}
.content__date-text--category {
  font-size: 12px;
}
@media screen and (max-width: 767px) {
  .content__date-text--category {
    font-size: 9px;
  }
}
.content__wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 8px;
  padding-left: 28px;
}
@media screen and (max-width: 767px) {
  .content__wrapper {
    display: block;
    padding-top: 0;
    padding-left: 10px;
    width: 92%;
    height: auto;
  }
}
.content__wrapper--update {
  padding-left: 60px;
}
@media screen and (max-width: 767px) {
  .content__wrapper--update {
    padding-left: 10px;
  }
}
.content__wrapper--category {
  padding-left: 12px;
}
@media screen and (max-width: 767px) {
  .content__wrapper--category {
    padding-left: 0;
    padding-right: 4%;
  }
}
.content__wrapper--event {
  width: 100%;
  height: 100%;
  padding-top: 0;
  padding-left: 0;
}
@media screen and (max-width: 767px) {
  .content__wrapper--event {
    display: inline-block;
    height: auto;
  }
}
.content__category-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .content__category-wrapper--update {
    width: 100%;
    margin-left: 7.5px;
    margin-right: 15px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 767px) {
  .content__category-wrapper--small {
    width: 100%;
    margin-left: 7.5px;
    margin-right: 15px;
  }
}
.content__category-wrapper--event {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .content__category-wrapper--event {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
}
.content__category-line {
  border-left: 1px solid #666;
  margin-left: 6px;
  margin-top: 15px;
  padding-bottom: 5px;
  padding-right: 8px;
}
@media screen and (max-width: 767px) {
  .content__category-line {
    margin-left: 9px;
    margin-top: 16px;
    padding-bottom: 9.5px;
    padding-right: 0;
    width: 100%;
    max-width: 100%;
  }
}
.content__category-line--small {
  margin-left: -5px;
}
@media screen and (max-width: 767px) {
  .content__category-line--small {
    margin-left: 25px;
    margin-top: 0.5px;
    padding-bottom: 20px;
  }
}
.content__category-line--event {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-left: none;
  border-bottom: 1px solid #666;
  margin-left: 0;
  margin-top: 13px;
  padding-bottom: 8px;
  padding-right: 0;
  width: 100%;
  height: 75;
}
@media screen and (max-width: 767px) {
  .content__category-line--event {
    margin-top: 16px;
    padding-bottom: 10px;
    height: auto;
  }
}
.content__text-event {
  width: 380px;
  font-size: 24px;
  height: 75px;
  max-height: 75px;
  line-height: 1.5em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-family: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "游明朝", "游明朝体",
    "YuMincho", "Yu Mincho", "ＭＳ 明朝", "MS Mincho", "HiraMinProN-W3",
    "TakaoEx明朝", "TakaoExMincho", "MotoyaLCedar", "Droid Sans Japanese", serif;
  font-weight: 500;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .content__text-event {
    text-align: justify;
    font-size: 16px;
    letter-spacing: 0.1em;
    width: 100%;
    height: auto;
    max-height: 100%;
  }
}
.content__category-text {
  font-size: 16px;
  letter-spacing: 0.1em;
  padding-left: 19px;
  width: 338px;
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .content__category-text {
    font-size: 13px;
    padding-left: 7.5px;
    width: 100%;
    max-width: 100%;
  }
}
.content__category-text--small {
  width: 234px;
  padding-left: 14px;
}
@media screen and (max-width: 767px) {
  .content__category-text--small {
    position: absolute;
    width: 100%;
    top: -4px;
  }
}
.content__category-text--sidepanel {
  width: 100%;
  padding-left: 0;
  line-height: 2.25em;
}
.content__category-text::before {
  content: " \25A0";
  padding-right: 7px;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .content__category-text::before {
    padding-right: 5px;
  }
}
.content__category-text--skyblue {
  color: #467fdd;
}
.content__category-text--islamicgreen {
  color: #2b9700;
}
.content__category-text--tawny {
  color: #ba7601;
}
.content__category-text--purple {
  color: #b36be6;
}
.content__category-text--amaranth {
  color: #e52f5a;
}
.content__title-line {
  border-top: 1px solid #666;
  border-left: 1px solid #666;
  margin-left: 6px;
  padding-right: 8px;
  padding-bottom: 21px;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .content__title-line {
    margin-left: 9px;
    padding-right: 4px;
    padding-bottom: 10.5px;
    width: 100%;
  }
}
.content__title-line--small {
  margin-left: -13px;
  padding-bottom: 5px;
  padding-right: 0;
}
@media screen and (max-width: 767px) {
  .content__title-line--small {
    margin-left: 25px;
    padding-bottom: 10px;
  }
}
.content__title-line--category {
  padding-right: 2px;
  padding-bottom: 2px;
  margin-right: 6px;
  height: auto;
}
@media screen and (max-width: 767px) {
  .content__title-line--category {
    width: 100%;
    padding-right: 0;
    margin-right: 0;
    padding-bottom: 10px;
  }
}
.content__title-line--event {
  border-top: none;
  border-left: 1px solid #666;
  margin-left: 0;
  margin-right: 93px;
  padding-right: 0;
  padding-bottom: 0;
}
@media screen and (max-width: 767px) {
  .content__title-line--event {
    margin-right: 0;
    margin-left: 25px;
  }
}
.content__title {
  padding-top: 21px;
  padding-left: 22px;
  font-size: 24px;
  font-family: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "游明朝", "游明朝体",
    "YuMincho", "Yu Mincho", "ＭＳ 明朝", "MS Mincho", "HiraMinProN-W3",
    "TakaoEx明朝", "TakaoExMincho", "MotoyaLCedar", "Droid Sans Japanese", serif;
  font-weight: 500;
  line-height: 1.5em;
  width: 338px;
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .content__title {
    padding-left: 10.5px;
    padding-top: 8.5px;
    font-size: 18px;
    width: 100%;
  }
}
.content__title--small {
  padding-top: 13px;
  padding-left: 15px;
  padding-right: 8px;
  font-size: 18px;
  line-height: 1.44em;
  width: 234px;
}
@media screen and (max-width: 767px) {
  .content__title--small {
    padding-top: 9.5px;
    padding-left: 10.5px;
    font-size: 16px;
    line-height: 1.5em;
    padding-right: 0;
    width: 100%;
  }
}
.content__title--sidepanel {
  font-size: 18px;
  line-height: 1.5em;
  padding-top: 0;
  padding-left: 0;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .content__title--sidepanel {
    font-size: 13.5px;
  }
}

.nav {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 45px;
  width: 100%;
  top: 88px;
  background-color: black;
  z-index: 999;
  -webkit-transition: 0.8s ease-out;
  -o-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
  -webkit-animation: zoomNav 1s;
  animation: zoomNav 1s;
}
@media screen and (max-width: 767px) {
  .nav {
    background-color: white;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    top: 0;
    padding: 0;
    -webkit-animation: none;
    animation: none;
  }
}
.nav__item {
  display: inline-block;
  padding: 5px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .nav__item {
    color: #fedb00;
    font-size: 14px;
    padding: 13.2px 0 13.2px 2.5px;
    width: 100%;
  }
}
.nav__item:hover {
  color: #fedb00;
}
.nav__item .nav__arrow-toggle::after,
.nav__item .nav__dropdown-toggle::after {
  border-color: #fedb00 transparent transparent;
}
.nav__item--dropdown {
  display: inline-block;
  padding: 5px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  padding-right: 30px;
}
@media screen and (max-width: 767px) {
  .nav__item--dropdown {
    color: #fedb00;
    font-size: 14px;
    padding: 0 0 13.2px 2.5px;
    width: 100%;
  }
}
.nav__item--dropdown:hover {
  color: #fedb00;
}
.nav__item--black {
  display: none;
}
@media screen and (max-width: 767px) {
  .nav__item--black {
    display: inline-block;
    color: black;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    padding: 13.2px 0 13.2px 2.5px;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .nav__item--contact {
    display: inline-block;
    color: #fedb00;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    padding: 13.2px 0 13.2px 2.5px;
    width: 100%;
  }
}
.nav__search {
  display: none;
}
@media screen and (max-width: 767px) {
  .nav__search {
    display: inline-block;
    width: 100%;
    height: 65px;
    background-color: white;
  }
}
.nav__search-box {
  display: none;
}
@media screen and (max-width: 767px) {
  .nav__search-box {
    display: inline;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 16px;
    padding-left: 10px;
    line-height: 2.5em;
    width: 100%;
    height: 35px;
    margin-top: 17px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  .nav__search-box:focus {
    outline: none;
  }
  .nav__search-box::-webkit-input-placeholder {
    color: #999;
    font-family: "Noto Sans JP", sans-serif;
  }
  .nav__search-box:-ms-input-placeholder {
    color: #999;
    font-family: "Noto Sans JP", sans-serif;
  }
  .nav__search-box::-ms-input-placeholder {
    color: #999;
    font-family: "Noto Sans JP", sans-serif;
  }
  .nav__search-box::placeholder {
    color: #999;
    font-family: "Noto Sans JP", sans-serif;
  }
}
.nav__search-btn {
  display: none;
}
@media screen and (max-width: 767px) {
  .nav__search-btn {
    position: absolute;
    display: inline;
    padding-top: 3px;
    background: transparent;
    border: none;
    width: 20px;
    height: 20px;
    margin-top: 22px;
    margin-left: -29px;
    -webkit-transition: -webkit-transform 0.25s;
    transition: -webkit-transform 0.25s;
    -o-transition: transform 0.25s;
    transition: transform 0.25s;
    transition: transform 0.25s, -webkit-transform 0.25s;
    cursor: pointer;
  }
  .nav__search-btn:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  .nav__search-btn:focus {
    outline: none;
  }
}
.nav__logo {
  display: none;
}
@media screen and (max-width: 767px) {
  .nav__logo {
    display: inline-block;
    width: 180px;
    height: 45px;
  }
}
.nav__links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  list-style: none;
}
@media screen and (max-width: 767px) {
  .nav__links {
    position: fixed;
    top: 45px;
    left: 0;
    opacity: 0;
    min-width: 100%;
    height: calc(100% - 45px);
    overflow-y: auto;
    font-size: 7px;
    text-align: left;
    -webkit-transition: opacity 0.8s 0.5s, -webkit-clip-path 1s 0.5s;
    transition: opacity 0.8s 0.5s, -webkit-clip-path 1s 0.5s;
    -o-transition: opacity 0.8s 0.5s, clip-path 1s 0.5s;
    transition: opacity 0.8s 0.5s, clip-path 1s 0.5s;
    transition: opacity 0.8s 0.5s, clip-path 1s 0.5s, -webkit-clip-path 1s 0.5s;
    z-index: -999;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  .nav__links::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: #666666;
    overflow: hidden;
  }
}
.nav__links--link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 15px;
  -webkit-transition: opacity 0.4s ease-in-out,
    -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.4s ease-in-out,
    -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: opacity 0.4s ease-in-out,
    transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.4s ease-in-out,
    transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.4s ease-in-out,
    transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@media screen and (max-width: 767px) {
  .nav__links--link {
    border-top: solid 1px #ccc;
    opacity: 0;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    padding: 0 15px;
    width: 100%;
    text-align: left;
    background-color: black;
  }
}
.nav__links--white {
  display: none;
  padding: 2px 15px;
  -webkit-transition: opacity 0.4s ease-in-out,
    -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.4s ease-in-out,
    -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: opacity 0.4s ease-in-out,
    transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.4s ease-in-out,
    transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.4s ease-in-out,
    transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@media screen and (max-width: 767px) {
  .nav__links--white {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-top: solid 1px #ccc;
    opacity: 0;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    width: 100%;
    text-align: left;
    background-color: white;
  }
}
.nav__links--contact {
  display: none;
  -webkit-transition: opacity 0.4s ease-in-out,
    -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.4s ease-in-out,
    -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: opacity 0.4s ease-in-out,
    transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.4s ease-in-out,
    transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.4s ease-in-out,
    transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@media screen and (max-width: 767px) {
  .nav__links--contact {
    display: block;
    border-top: solid 1px #ccc;
    opacity: 0;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    width: 100%;
    line-height: 3.5em;
    height: 78px;
    text-align: left;
    background-color: white;
  }
}
.nav__icon {
  position: relative;
  left: 0;
  top: 0;
  height: 45px;
  width: 45px;
  cursor: pointer;
  z-index: 1;
  display: none;
}
.nav__icon--line {
  display: block;
  position: relative;
  background: rgba(0, 0, 0, 0);
  height: 2px;
  width: 23px;
  left: 11px;
  top: 27px;
  -webkit-transition: background 0.8s ease;
  -o-transition: background 0.8s ease;
  transition: background 0.8s ease;
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}
.nav__icon--line::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: black;
  -webkit-transition: background 0.8s ease;
  -o-transition: background 0.8s ease;
  transition: background 0.8s ease;
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}
.nav__icon--line::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: black;
  -webkit-transition: background 0.8s ease;
  -o-transition: background 0.8s ease;
  transition: background 0.8s ease;
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}
@media screen and (max-width: 767px) {
  .nav__icon-container {
    height: 46px;
    width: 45px;
    background-color: #fedb00;
  }
}
.nav__contact {
  display: none;
}
@media screen and (max-width: 767px) {
  .nav__contact {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    line-height: 3em;
    background: #fedb00;
    overflow: hidden;
    margin: 10px auto;
    width: 100%;
    height: 56px;
    border-radius: 10px;
    padding: 16px 15px;
  }
}
.nav__contact-container {
  display: none;
}
@media screen and (max-width: 767px) {
  .nav__contact-container {
    display: block;
    background: white;
    padding: 0 15px;
  }
}
.nav__btn {
  position: absolute;
  top: -200px;
}
.nav__link-container {
  position: relative;
  display: inline;
  width: 100%;
  cursor: pointer;
}
.nav__link-container:hover .nav__box {
  visibility: visible;
  opacity: 1;
}
@media screen and (max-width: 767px) {
  .nav__link-container:hover .nav__box {
    visibility: hidden;
  }
}
.nav__link-container:hover .nav__box--arow {
  visibility: visible;
  opacity: 1;
}
@media screen and (max-width: 767px) {
  .nav__link-container:hover .nav__box--arow {
    visibility: hidden;
  }
}
.nav__box {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: left;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  min-width: 257px;
  background-color: white;
  color: black;
  top: 5px;
  left: 18px;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 767px) {
  .nav__box {
    position: relative;
    display: none;
    text-align: left;
    width: 100%;
    height: 21%;
    background-color: black;
    color: black;
    top: -15px;
    left: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
    -webkit-transition: 0;
    -o-transition: 0;
    transition: 0;
  }
}
.nav__box--arrow {
  margin-top: 38px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
@media screen and (max-width: 767px) {
  .nav__box--arrow {
    margin-top: 0;
    display: none;
  }
}
.nav__box--arrow::after {
  content: "";
  position: absolute;
  left: 20px;
  top: -9px;
  border-style: solid;
  border-width: 0 8.5px 10px 8.5px;
  border-color: transparent transparent white transparent;
}
@media screen and (max-width: 767px) {
  .nav__box--arrow::after {
    left: 0;
    top: 0;
    display: none;
  }
}
.nav__dropdown {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 10px 0;
}
@media screen and (max-width: 767px) {
  .nav__dropdown {
    padding: 0;
  }
}
.nav__dropdown-text {
  padding-right: 10px;
  font-size: 16px;
  line-height: 2em;
}
@media screen and (max-width: 767px) {
  .nav__dropdown-text {
    color: #fedb00;
    padding-right: 0;
    line-height: 2.36em;
    font-size: 14px;
  }
}
.nav__dropdown-text:hover {
  color: #fedb00;
}
.nav__dropdown-arrow {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 10px;
  width: 8px;
  height: 8px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
@media screen and (max-width: 767px) {
  .nav__dropdown-arrow {
    width: 8px;
    height: 8px;
    border-top: 2px solid #fedb00;
    border-left: 2px solid #fedb00;
  }
}
.nav__text {
  min-width: 107px;
  padding-left: 20px;
}
@media screen and (max-width: 767px) {
  .nav__text {
    min-width: 109px;
    height: auto;
  }
}
@media screen and (max-width: 767px) {
  .nav__arrow-toggle::before,
  .nav__dropdown-toggle::before,
  .nav__arrow-toggle::after,
  .nav__dropdown-toggle::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5.5px 5px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    left: 70px;
  }
  .nav__arrow-toggle::before,
  .nav__dropdown-toggle::before {
    content: "";
    position: absolute;
    border-color: black transparent transparent;
    top: calc(70% - 7px);
    z-index: 1;
  }
  .nav__arrow-toggle::after,
  .nav__dropdown-toggle::after {
    content: "";
    position: absolute;
    top: calc(70% - 5px);
    border-color: #fedb00 transparent transparent;
  }
}
.nav__dropdown-toggle {
  visibility: hidden;
}
@media screen and (max-width: 767px) {
  .nav__dropdown-toggle {
    visibility: visible;
    height: 20px;
    width: 100%;
    top: 14px;
    right: 10px;
    position: absolute;
  }
}
@media screen and (max-width: 767px) {
  .nav__dropdown-toggle.is-active {
    top: 8.5px;
    -webkit-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    transform: scaleY(-1);
  }
  .nav__dropdown-toggle.is-active .nav__arrow-toggle,
  .nav__dropdown-toggle.is-active .nav__dropdown-toggle {
    display: none;
  }
  .nav__dropdown-toggle.is-active::before,
  .nav__dropdown-toggle.is-active::after {
    content: "";
    border-style: solid;
    border-width: 5.5px 5px 0;
    margin-left: 80%;
  }
  .nav__dropdown-toggle.is-active::before {
    content: "";
    position: absolute;
    border-color: black transparent transparent;
    top: calc(25% - 7px);
    z-index: 1;
  }
  .nav__dropdown-toggle.is-active::after {
    content: "";
    position: absolute;
    top: calc(25% - 5px);
    border-color: #fedb00 transparent transparent;
  }
}
.nav__dropdown-hover {
  width: 110px;
  height: 40px;
  top: 0;
  left: 0;
  position: absolute;
}
.nav__dropdown-hover:hover .nav__arrow-hover::before,
.nav__dropdown-hover:hover .nav__arrow-hover::after {
  content: "";
  top: 5px;
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.nav__dropdown-hover:hover .nav__arrow-hover::before {
  content: "";
  position: absolute;
  top: calc(50% - 7px);
  border-color: black transparent transparent;
}
.nav__dropdown-hover:hover .nav__arrow-hover::after {
  content: "";
  position: absolute;
  top: calc(50% - 5px);
  border-color: #fedb00 transparent transparent;
}
@media screen and (max-width: 767px) {
  .nav__dropdown-hover {
    display: none;
  }
}
.nav__arrow-hover::before,
.nav__arrow-hover::after {
  content: "";
  width: 0;
  height: 0;
  left: 80px;
  border-style: solid;
  border-width: 5px 5px 0;
  -webkit-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  transform: scaleY(-1);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.nav__arrow-hover::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: calc(50% - 5px);
  border-color: black transparent transparent;
}
.nav__arrow-hover::after {
  content: "";
  border-color: white transparent transparent;
  position: absolute;
  top: calc(50% - 7px);
}
@media screen and (max-width: 767px) {
  .nav__arrow-hover {
    display: none;
  }
}
.nav__dropdownchk {
  visibility: hidden;
}
@media screen and (max-width: 767px) {
  .nav__dropdownchk:checked ~ .nav__box {
    visibility: visible;
    display: inline;
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.6);
  }
  to {
    -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0);
  }
}

@keyframes pulse {
  from {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.6);
  }
  to {
    -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0);
  }
}

@-webkit-keyframes openTop {
  0% {
    -webkit-transform: translateY(-5px) rotate(0deg);
    transform: translateY(-5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(90deg);
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes openTop {
  0% {
    -webkit-transform: translateY(-5px) rotate(0deg);
    transform: translateY(-5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(90deg);
    transform: translateY(0) rotate(90deg);
  }
}

@-webkit-keyframes closedTop {
  0% {
    -webkit-transform: translateY(-5px) rotate(0deg);
    transform: translateY(-5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(90deg);
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes closedTop {
  0% {
    -webkit-transform: translateY(-5px) rotate(0deg);
    transform: translateY(-5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(90deg);
    transform: translateY(0) rotate(90deg);
  }
}

@-webkit-keyframes openMid {
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

@keyframes openMid {
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

@-webkit-keyframes closedMid {
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

@keyframes closedMid {
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

@-webkit-keyframes zoomNav {
  from {
    top: 250px;
  }
  to {
    top: 88px;
  }
}

@keyframes zoomNav {
  from {
    top: 250px;
  }
  to {
    top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .nav__icon {
    display: block;
  }
  .nav__icon--line {
    -webkit-animation: closedMid 0.8s backwards;
    animation: closedMid 0.8s backwards;
    animation-direction: reverse;
  }
  .nav__icon--line::before {
    -webkit-animation: closedTop 0.8s backwards;
    animation: closedTop 0.8s backwards;
    animation-direction: reverse;
  }
  .nav__icon--line::after {
    -webkit-animation: closedTop 0.8s backwards;
    animation: closedTop 0.8s backwards;
    animation-direction: reverse;
  }
  .nav__btn:checked ~ .nav__links {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    display: inline-block;
  }
  .nav__btn:checked ~ .nav__links .nav__links--link,
  .nav__btn:checked ~ .nav__links .nav__links--white,
  .nav__btn:checked ~ .nav__links .nav__links--contact {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: opacity 0.4s ease-in-out,
      -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0.4s ease-in-out,
      -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: opacity 0.4s ease-in-out,
      transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0.4s ease-in-out,
      transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0.4s ease-in-out,
      transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .nav__btn:checked ~ .nav__links .nav__links--link:nth-of-type(1),
  .nav__btn:checked ~ .nav__links .nav__links--white:nth-of-type(1),
  .nav__btn:checked ~ .nav__links .nav__links--contact:nth-of-type(1) {
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
  }
  .nav__btn:checked ~ .nav__links .nav__links--link:nth-of-type(2),
  .nav__btn:checked ~ .nav__links .nav__links--white:nth-of-type(2),
  .nav__btn:checked ~ .nav__links .nav__links--contact:nth-of-type(2) {
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
  }
  .nav__btn:checked ~ .nav__links .nav__links--link:nth-of-type(3),
  .nav__btn:checked ~ .nav__links .nav__links--white:nth-of-type(3),
  .nav__btn:checked ~ .nav__links .nav__links--contact:nth-of-type(3) {
    -webkit-transition-delay: 0.7s;
    -o-transition-delay: 0.7s;
    transition-delay: 0.7s;
  }
  .nav__btn:checked ~ .nav__links .nav__links--link:nth-of-type(4),
  .nav__btn:checked ~ .nav__links .nav__links--white:nth-of-type(4),
  .nav__btn:checked ~ .nav__links .nav__links--contact:nth-of-type(4) {
    -webkit-transition-delay: 0.8s;
    -o-transition-delay: 0.8s;
    transition-delay: 0.8s;
  }
  .nav__btn:checked ~ .nav__links .nav__links--link:nth-of-type(5),
  .nav__btn:checked ~ .nav__links .nav__links--white:nth-of-type(5),
  .nav__btn:checked ~ .nav__links .nav__links--contact:nth-of-type(5) {
    -webkit-transition-delay: 0.9s;
    -o-transition-delay: 0.9s;
    transition-delay: 0.9s;
  }
  .nav__btn:checked ~ .nav__links .nav__links--link:nth-of-type(6),
  .nav__btn:checked ~ .nav__links .nav__links--white:nth-of-type(6),
  .nav__btn:checked ~ .nav__links .nav__links--contact:nth-of-type(6) {
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
  }
  .nav__btn:checked ~ .nav__links .nav__links--link:nth-of-type(7),
  .nav__btn:checked ~ .nav__links .nav__links--white:nth-of-type(7),
  .nav__btn:checked ~ .nav__links .nav__links--contact:nth-of-type(7) {
    -webkit-transition-delay: 1.1s;
    -o-transition-delay: 1.1s;
    transition-delay: 1.1s;
  }
  .nav__btn:checked ~ .nav__links .nav__links--link:nth-of-type(8),
  .nav__btn:checked ~ .nav__links .nav__links--white:nth-of-type(8),
  .nav__btn:checked ~ .nav__links .nav__links--contact:nth-of-type(8) {
    -webkit-transition-delay: 1.2s;
    -o-transition-delay: 1.2s;
    transition-delay: 1.2s;
  }
  .nav__btn:checked ~ .nav__links .nav__links--link:nth-of-type(9),
  .nav__btn:checked ~ .nav__links .nav__links--white:nth-of-type(9),
  .nav__btn:checked ~ .nav__links .nav__links--contact:nth-of-type(9) {
    -webkit-transition-delay: 1.3s;
    -o-transition-delay: 1.3s;
    transition-delay: 1.3s;
  }
  .nav__btn:checked ~ .nav__links .nav__links--contact {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: opacity 0.4s ease-in-out,
      -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0.4s ease-in-out,
      -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: opacity 0.4s ease-in-out,
      transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0.4s ease-in-out,
      transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0.4s ease-in-out,
      transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .nav__btn:checked ~ .nav__links .nav__links--contact:nth-of-type(1) {
    -webkit-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    transition-delay: 0.4s;
  }
  .nav__btn:checked ~ .nav__icon {
    -webkit-animation: openMid 0.8s forwards;
    animation: openMid 0.8s forwards;
    top: -4px;
    left: 4px;
  }
  .nav__btn:checked ~ .nav__icon .nav__icon--line {
    background: #000;
    -webkit-animation: openTop 0.8s forwards;
    animation: openTop 0.8s forwards;
  }
  .nav__btn:checked ~ .nav__icon .nav__icon--line::before {
    background: #000;
    -webkit-animation: openTop 0.8s forwards;
    animation: openTop 0.8s forwards;
  }
  .nav__btn:checked ~ .nav__icon .nav__icon--line::after {
    display: none;
  }
}

.slider {
  position: relative;
  margin-top: 133px;
}
@media screen and (max-width: 767px) {
  .slider {
    margin-top: 45px;
  }
}
.slider__cell {
  width: 100%;
  height: auto;
  margin-right: 10px;
}
@media screen and (max-width: 767px) {
  .slider__cell {
    margin-right: 10px;
  }
}
.slider__img {
  display: block;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 767px) {
  .slider__img {
    display: none;
  }
}
.slider__img--sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .slider__img--sp {
    display: block;
    width: 100%;
    height: auto;
  }
}

.title {
  position: relative;
}
.title__lines {
  position: relative;
  background: url("./img/title_lines.png") repeat-x center center/auto 8px;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .title__lines {
    background: url("./img/title_lines.png") repeat-x center center/auto 7px;
  }
}
.title__text {
  position: relative;
  display: inline-block;
  background-color: #f1f1f1;
  font-size: 28px;
  font-weight: bold;
  font-family: "Noto Serif JP", serif;
  color: #333;
  letter-spacing: 0.5em;
  line-height: 42px;
  text-transform: uppercase;
  text-align: center;
  padding-left: 29px;
  padding-right: 10px;
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  .title__text {
    font-size: 25px;
    letter-spacing: 0.3em;
    margin-left: 0;
    padding-left: 15px;
    padding-right: 5px;
  }
}

.pickup {
  width: 100%;
  margin: 66px auto 0;
  padding-bottom: 31px;
}
@media screen and (max-width: 767px) {
  .pickup {
    margin: 41px auto 0;
    padding-bottom: 0;
  }
}

.update {
  position: relative;
}
.update__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
@media screen and (max-width: 767px) {
  .update__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.sidepanel {
  background-color: white;
  width: 280px;
  margin-left: 36px;
  margin-top: 28px;
  border: 1px solid #666;
}
@media screen and (max-width: 767px) {
  .sidepanel {
    width: 691px;
    max-width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }
}
.sidepanel__title {
  position: relative;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  line-height: 2.5em;
  letter-spacing: 0.1em;
  color: #fedb00;
  background-color: #000;
  width: 100%;
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .sidepanel__title {
    font-size: 14px;
    line-height: 2.5em;
  }
}
.sidepanel__image {
  position: relative;
  margin: 20px;
  width: 238px;
  height: 131px;
}
@media screen and (max-width: 767px) {
  .sidepanel__image {
    display: block;
    width: 85.38%;
    height: auto;
    margin: 20px auto;
  }
}
.sidepanel__content {
  width: 100%;
  padding: 0 20px;
}
@media screen and (max-width: 767px) {
  .sidepanel__content {
    padding: 0 25px;
  }
}
.sidepanel__date {
  font-size: 14px;
  margin-top: 2px;
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .sidepanel__date {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.sidepanel__text {
  font-size: 16px;
  line-height: 1.5em;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .sidepanel__text {
    font-size: 14px;
    line-height: 1.5em;
    margin-bottom: 16.5px;
  }
}
.sidepanel__category-wrapper {
  margin: 22px auto 22px 19px;
}
@media screen and (max-width: 767px) {
  .sidepanel__category-wrapper {
    margin: 20px auto 20px 20px;
  }
}
.sidepanel__ranking {
  margin: 21px auto;
  list-style-type: none;
}
@media screen and (max-width: 767px) {
  .sidepanel__ranking {
    margin: 20px 7.5px;
  }
}
.sidepanel__ranking--item {
  position: relative;
  display: block;
  counter-increment: step-counter;
  font-size: 16px;
  line-height: 1.5em;
  margin-left: 17px;
  padding-left: 15px;
}
@media screen and (max-width: 767px) {
  .sidepanel__ranking--item {
    font-size: 14px;
    margin-left: 10px;
    padding-left: 0;
    width: 100%;
  }
}
.sidepanel__ranking--item:hover {
  text-decoration: underline;
}
.sidepanel__ranking--item::before {
  position: absolute;
  content: counter(step-counter);
  font-size: 18px;
  line-height: 1.33em;
  font-weight: 700;
  left: -18px;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .sidepanel__ranking--item::before {
    font-size: 16px;
    left: -20px;
  }
}
.sidepanel__tags {
  display: inline-block;
  font-size: 16px;
  line-height: 1.5em;
  padding-right: 17px;
  padding-top: 15px;
}
@media screen and (max-width: 767px) {
  .sidepanel__tags {
    font-size: 14px;
    line-height: 2.5em;
    padding-right: 16.5px;
    padding-top: 0;
  }
}
.sidepanel__tags:hover {
  text-decoration: underline;
}
.sidepanel__tags-wrapper {
  padding-left: 21px;
  padding-bottom: 33px;
}
@media screen and (max-width: 767px) {
  .sidepanel__tags-wrapper {
    padding-left: 21px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

.category {
  position: relative;
  margin-top: 60px;
}
@media screen and (max-width: 767px) {
  .category {
    margin-top: 0;
  }
}
.category__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 150px;
  height: 150px;
  background: #fff;
  border-radius: 50%;
  margin-top: 5px;
}
@media screen and (max-width: 767px) {
  .category__item {
    margin-top: 0;
    width: 113px;
    height: 113px;
  }
}
.category__item-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 150px;
  margin-top: 25px;
}
@media screen and (max-width: 767px) {
  .category__item-container {
    width: 100%;
    margin-top: 10.5px;
  }
}
.category__title-en {
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  .category__title-en {
    font-size: 11px;
  }
}
.category__title-jp {
  font-size: 21px;
}
@media screen and (max-width: 767px) {
  .category__title-jp {
    font-size: 16px;
    line-height: 1em;
  }
}
.category__title-jp--islamicgreen {
  color: #2b9700;
}
.category__title-jp--tawny {
  color: #ba7601;
}
.category__title-jp--purple {
  color: #b36be6;
}
.category__title-jp__title-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .category__link {
    width: 100%;
  }
}
.category__description {
  font-size: 24px;
  line-height: 1.5em;
  font-weight: 500;
  font-family: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "游明朝", "游明朝体",
    "YuMincho", "Yu Mincho", "ＭＳ 明朝", "MS Mincho", "HiraMinProN-W3",
    "TakaoEx明朝", "TakaoExMincho", "MotoyaLCedar", "Droid Sans Japanese", serif;
  padding-left: 23px;
  width: 590px;
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .category__description {
    font-size: 16px;
    line-height: 1.25em;
    letter-spacing: 0.1em;
    padding-left: 10px;
    width: 100%;
    height: 100%;
  }
}
.category__description--small {
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  padding-left: 23px;
}
@media screen and (max-width: 767px) {
  .category__description--small {
    font-size: 13px;
    padding-left: 10px;
  }
}
.category__description-container {
  padding-top: 20px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .category__description-container {
    padding-top: 10px;
  }
}
.category__information {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-left: 46px;
}
@media screen and (max-width: 767px) {
  .category__information {
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
  }
}
.category__information-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 8px;
}
@media screen and (max-width: 767px) {
  .category__information-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-top: 0;
  }
}
.category__information-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  .category__information-container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
  }
}
.category__button-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  top: 45px;
  left: 233px;
}
@media screen and (max-width: 767px) {
  .category__button-container {
    display: none;
  }
}
.category__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-top: 8px;
}
@media screen and (max-width: 767px) {
  .category__content {
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.category__content:not(:first-child) {
  margin-top: 57px;
}
@media screen and (max-width: 767px) {
  .category__content:not(:first-child) {
    margin-top: 0;
  }
}
.category__container {
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  .category__container {
    margin-top: 0;
  }
}

.banner {
  position: relative;
  margin-top: 80px;
}
@media screen and (max-width: 767px) {
  .banner {
    margin: 40px auto;
  }
}
.banner__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 360px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
@media screen and (max-width: 767px) {
  .banner__image {
    display: none;
  }
}
.banner__image--sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .banner__image--sp {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
}
.banner__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  font-size: 36px;
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  .banner__text {
    font-size: 27px;
    font-weight: 400;
    line-height: 1.3em;
    width: 100%;
  }
}
.banner__text--small {
  font-size: 28px;
}
@media screen and (max-width: 767px) {
  .banner__text--small {
    font-size: 21px;
  }
}
.banner__text--extra-small {
  position: absolute;
  top: -34px;
  right: 350px;
  font-size: 13px;
  line-height: 4.62em;
}
@media screen and (max-width: 767px) {
  .banner__text--extra-small {
    top: -19px;
    right: 42px;
    font-size: 10px;
    line-height: 4.5em;
    width: 100%;
  }
}
.banner__text--description {
  padding-top: 25px;
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  .banner__text--description {
    line-height: 1.7em;
    padding-top: 20px;
    font-size: 14px;
    font-weight: 400;
  }
}
.banner__text--title {
  font-size: 50px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  line-height: 0.83em;
}
@media screen and (max-width: 767px) {
  .banner__text--title {
    font-size: 37px;
    line-height: 1.22em;
  }
}
.banner__text--title::after {
  content: "さん";
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  .banner__text-wrapper {
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  .banner__text-wrapper--small {
    width: 85.38%;
  }
}
.banner__container {
  position: relative;
  height: 360px;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .banner__container {
    height: 100%;
  }
}
@media screen and (max-width: 767px) {
  .banner__container--second {
    margin-top: -25px;
  }
}
.banner__wrapper {
  text-align: right;
  max-width: 1220px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .banner__wrapper {
    max-width: 100%;
    padding: 0 4%;
  }
}
@media screen and (max-width: 767px) {
  .banner__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 30px;
    padding: 0 4%;
  }
}
.banner__text-container {
  position: relative;
  text-align: right;
  margin-top: 84px;
  margin-left: 532px;
  width: 646px;
}
@media screen and (max-width: 767px) {
  .banner__text-container {
    text-align: center;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    height: 100%;
  }
}
.banner__text-container--second {
  margin-top: 34px;
}
@media screen and (max-width: 767px) {
  .banner__text-container--second {
    margin-top: -23px;
  }
}
.banner__button-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin-top: 15px;
  margin-left: 482px;
}
@media screen and (max-width: 767px) {
  .banner__button-container {
    position: absolute;
    margin: 0;
    bottom: 57.5px;
    left: 0;
    right: 0;
  }
}
.banner__button-container--second {
  margin-top: 16px;
  margin-left: 502px;
}
@media screen and (max-width: 767px) {
  .banner__button-container--second {
    margin: 0;
  }
}
.banner__arc-container {
  position: relative;
  top: 36px;
  right: 142px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .banner__arc-container {
    text-align: center;
    top: -15px;
    right: 0;
  }
}
.banner__arc {
  background-repeat: no-repeat;
  width: 470px;
  height: 81px;
}
@media screen and (max-width: 767px) {
  .banner__arc {
    top: -18px;
    right: 0;
    left: 0;
    padding: 0 10px;
    width: 100%;
    height: auto;
  }
}
.banner__break {
  display: none;
}
@media screen and (max-width: 767px) {
  .banner__break {
    display: block;
  }
}

.button {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 28px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.025em;
  background: #000;
  padding: 7px 21px 7px 34px;
  width: auto;
  height: 38px;
  text-decoration: none;
  white-space: nowrap;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (max-width: 767px) {
  .button {
    border-radius: 28px;
    font-size: 14px;
    padding: 10px 17.5px 10px 29.5px;
    width: auto;
    height: 34px;
  }
}
.button::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 10px;
  left: 19px;
  bottom: 13px;
  background: url("./img/greater_than-white.png");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (max-width: 767px) {
  .button::before {
    width: 6px;
    height: 8.5px;
    left: 17px;
    bottom: 0;
    top: 12.5px;
  }
}
.button:hover {
  color: #fedb00;
  text-decoration: none;
}
.button:hover::before {
  background: url("./img/greater_than-yellow.png");
}

.plan {
  position: relative;
  overflow: hidden;
}
.plan__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 60px;
}
@media screen and (max-width: 767px) {
  .plan__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 0;
  }
}
.plan__content {
  width: 100%;
  margin: 0 14px;
}
@media screen and (max-width: 767px) {
  .plan__content {
    margin: 0;
  }
}
.plan__title-container {
  width: 760px;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .plan__title-container {
    width: 100%;
  }
}
.plan__business-container {
  width: 760px;
}
@media screen and (max-width: 767px) {
  .plan__business-container {
    width: 100%;
  }
}
.plan__business-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  width: 760px;
}
.plan__business-box:first-child {
  margin-top: 42px;
}
@media screen and (max-width: 767px) {
  .plan__business-box:first-child {
    margin-top: 10.5px;
  }
}
.plan__business-box:not(:last-child) {
  margin-bottom: 36px;
}
@media screen and (max-width: 767px) {
  .plan__business-box:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .plan__business-box {
    width: 100%;
    height: 100%;
  }
}
.plan__image {
  width: 320px;
  height: 260px;
}
@media screen and (max-width: 767px) {
  .plan__image {
    width: 130px;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 65% 100%;
    object-position: 65% 100%;
  }
}
.plan__text-container {
  position: relative;
  text-align: left;
  padding-top: 30px;
  padding-left: 27px;
}
@media screen and (max-width: 767px) {
  .plan__text-container {
    padding-top: 45.5px;
    padding-left: 20px;
  }
}
.plan__business-text {
  font-size: 28px;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .plan__business-text {
    position: absolute;
    top: 10px;
    left: -10px;
    text-align: center;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    background-color: #598bfd;
    padding: 6px 15px;
  }
}
@media screen and (max-width: 767px) {
  .plan__business-text--caribbeangreen {
    background-color: #00c876;
  }
}
@media screen and (max-width: 767px) {
  .plan__business-text--tawny {
    background-color: #ba7601;
  }
}
.plan__business-description {
  font-size: 21px;
  font-family: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "游明朝", "游明朝体",
    "YuMincho", "Yu Mincho", "ＭＳ 明朝", "MS Mincho", "HiraMinProN-W3",
    "TakaoEx明朝", "TakaoExMincho", "MotoyaLCedar", "Droid Sans Japanese", serif;
  font-weight: 500;
  line-height: 1.57em;
  padding-top: 14px;
  padding-right: 26px;
  width: 415px;
}
@media screen and (max-width: 767px) {
  .plan__business-description {
    display: none;
  }
}
.plan__business-description--sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .plan__business-description--sp {
    display: block;
    font-size: 16px;
    padding-top: 4.5px;
    padding-right: 21.5px;
    width: 100%;
    margin: 0;
  }
}
.plan__button-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 26px;
  margin-left: 260px;
  height: 38px;
}
@media screen and (max-width: 767px) {
  .plan__button-container {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 4.2%;
    margin-left: 0;
  }
}
.plan__instagram-container {
  margin-top: 12px;
}
@media screen and (max-width: 767px) {
  .plan__instagram-container {
    margin-top: 40px;
    height: 535px;
    overflow-y: scroll;
  }
}
.plan__instagram-page {
  height: 100%;
}
@media screen and (max-width: 767px) {
  .plan__instagram-page {
    width: 100%;
    height: auto;
  }
}

.event {
  position: relative;
  max-width: 1220px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .event {
    max-width: 100%;
    padding: 0 4%;
  }
}
.event__description-container {
  padding-left: 20px;
  padding-top: 20px;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .event__description-container {
    padding: 10px;
    height: auto;
  }
}
.event__description {
  font-size: 16px;
  line-height: 1.5em;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .event__description {
    font-size: 13px;
  }
}
.event__cont {
  position: relative;
  display: inline-block;
}

.footer {
  position: relative;
  background-color: #000;
  margin-top: 106px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .footer {
    margin-top: 85.5px;
  }
}
.footer__link {
  text-align: center;
  width: 950px;
  margin: -13px auto 0;
}
@media screen and (max-width: 767px) {
  .footer__link {
    margin-top: -35px;
    padding: 0 4%;
    width: 100%;
  }
}
.footer__navigation {
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  line-height: 2.5em;
  color: #ccc;
  margin-right: 35px;
}
@media screen and (max-width: 767px) {
  .footer__navigation {
    font-size: 14px;
    margin-right: 15px;
    margin-left: 15px;
  }
}
.footer__navigation:hover {
  text-decoration: underline;
}
.footer__contact {
  position: relative;
  width: 427px;
  height: 110px;
  background-color: #fedb00;
  border: 20px solid #000;
  top: -23px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .footer__contact {
    width: 72.36%;
    height: 95px;
    top: -47.5px;
  }
}
.footer__contact-text {
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.67em;
  color: #000;
  padding-top: 15px;
}
@media screen and (max-width: 767px) {
  .footer__contact-text {
    font-size: 18px;
    line-height: 1.67em;
    padding: 14.5px 0;
  }
}
.footer__icon-container {
  position: relative;
  text-align: center;
  margin-top: 36px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .footer__icon-container {
    margin-top: 31.5px;
  }
}
.footer__icon {
  text-align: center;
  width: 32px;
}
@media screen and (max-width: 767px) {
  .footer__icon {
    width: 100%;
  }
}
.footer__icon:not(:last-child) {
  padding-right: 30px;
}
@media screen and (max-width: 767px) {
  .footer__icon:not(:last-child) {
    padding-right: 30px;
  }
}
.footer__container {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
}
.footer__logo-container {
  position: relative;
  text-align: center;
  margin-top: 29px;
}
@media screen and (max-width: 767px) {
  .footer__logo-container {
    margin-top: 22px;
  }
}
.footer__logo {
  display: inline-block;
  width: 225px;
}
@media screen and (max-width: 767px) {
  .footer__logo {
    width: 186px;
  }
}
.footer__copyright {
  text-align: center;
  font-size: 14px;
  line-height: 2.86em;
  color: #ccc;
  margin-top: 8px;
  margin-bottom: 24px;
}
@media screen and (max-width: 767px) {
  .footer__copyright {
    font-size: 12px;
    line-height: 2.91em;
    margin-bottom: 12px;
  }
}
.footer__top {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999;
  opacity: 0;
  width: 51px;
  height: 51px;
  -webkit-transform: translateY(100px);
  -ms-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .footer__top {
    width: 45.5px;
    height: 45.5px;
  }
}
.footer__show {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.footer__arrow {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  width: 100%;
}

.contact {
  margin-top: 180px;
}
@media screen and (max-width: 767px) {
  .contact {
    margin-top: 76px;
    padding: 0 4%;
  }
}
.contact__container {
  display: block;
  margin: 51px auto;
  width: 900px;
  border: 1px solid #ccc;
}
@media screen and (max-width: 767px) {
  .contact__container {
    margin: 21px auto;
    width: 100%;
  }
}
.contact__breadcrumbs {
  position: absolute;
  top: 140px;
  left: 26px;
}
@media screen and (max-width: 767px) {
  .contact__breadcrumbs {
    top: 55px;
    left: 15px;
  }
}
.contact__breadcrumbs-text {
  font-size: 14px;
  line-height: 1.71em;
  text-decoration: underline;
}
@media screen and (max-width: 767px) {
  .contact__breadcrumbs-text {
    font-size: 12px;
    line-height: 2.25em;
  }
}
.contact__breadcrumbs-text--current {
  text-decoration: none;
}
.contact__arrow-right {
  padding: 0 15px;
}
@media screen and (max-width: 767px) {
  .contact__arrow-right {
    padding: 0 12.5px;
  }
}
.contact__form {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .contact__form {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 767px) {
  .contact__form--pc {
    display: none;
  }
}
.contact__form:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.contact__label-container {
  position: relative;
  display: block;
  width: 265px;
  background-color: #fff2a3;
}
@media screen and (max-width: 767px) {
  .contact__label-container {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
  }
}
.contact__label {
  display: block;
  font-size: 18px;
  line-height: 1.78em;
  margin: 25px 22px;
}
@media screen and (max-width: 767px) {
  .contact__label {
    font-size: 16px;
    line-height: 1.31em;
    margin: 12.5px 13.5px;
  }
}
.contact__mandatory {
  position: absolute;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.86em;
  border: 4px solid #fedb00;
  background-color: #fff;
  width: 47px;
  text-align: center;
  right: 22px;
  top: 25px;
}
@media screen and (max-width: 767px) {
  .contact__mandatory {
    position: relative;
    font-size: 12.25px;
    width: 41.5px;
    height: 30px;
    right: -5px;
    top: 8.5px;
  }
}
@media screen and (max-width: 767px) {
  .contact__mandatory--sp {
    display: none;
  }
}
.contact__field {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
  padding-top: 20px;
  width: 633px;
}
@media screen and (max-width: 767px) {
  .contact__field {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: 14.5px;
  }
}
@media screen and (max-width: 767px) {
  .contact__field--second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.contact__field--street {
  padding-top: 0;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  .contact__field--street {
    padding: 14.5px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.contact__field-wrapper {
  position: absolute;
  top: 80px;
  left: 302px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .contact__field-wrapper {
    left: 0;
    top: 55px;
  }
}
.contact__select {
  display: block;
  font-size: 16px;
  font-family: inherit;
  line-height: 2em;
  color: #666;
  padding-left: 11px;
  padding-right: 33px;
  margin-bottom: auto;
  margin-left: 22px;
  width: 281px;
  height: 40px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("./img/select__arrow.png"),
    -webkit-gradient(linear, left bottom, left top, from(#cccccc), to(white));
  background-image: url("./img/select__arrow.png"),
    -o-linear-gradient(bottom, #cccccc 0%, white 100%);
  background-image: url("./img/select__arrow.png"),
    linear-gradient(0deg, #cccccc 0%, white 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 9px top 50%, 0 0;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .contact__select {
    font-size: 14px;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 0;
    width: 100%;
    height: 37px;
  }
}
.contact__select--small {
  width: 162px;
  margin-top: 24px;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .contact__select--small {
    width: 100%;
    margin: 0;
  }
}
.contact__select:hover {
  border-color: #666;
}
.contact__option {
  font-size: 16px;
  line-height: 2em;
  color: #666;
}
@media screen and (max-width: 767px) {
  .contact__option {
    font-size: 15px;
  }
}
.contact__textbox {
  font-size: 16px;
  font-family: inherit;
  line-height: 2em;
  width: 591px;
  height: 40px;
  padding-left: 11px;
  padding-right: 11px;
  margin-left: 21px;
  margin-right: 21px;
  border-radius: 5px;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 7px 9px -7px #ccc;
  box-shadow: inset 0 7px 9px -7px #ccc;
}
@media screen and (max-width: 767px) {
  .contact__textbox {
    width: 100%;
    height: getp375(74px);
    margin: 0;
  }
}
.contact__textbox--address {
  margin-top: 20px;
  margin-left: 10px;
  width: 160px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
@media screen and (max-width: 767px) {
  .contact__textbox--address {
    width: 162.5px;
    margin: 0 10px;
  }
}
.contact__textbox--postal {
  margin-bottom: 20px;
  margin-left: 21px;
  margin-right: 41px;
}
@media screen and (max-width: 767px) {
  .contact__textbox--postal {
    width: 100%;
    height: getp375(74px);
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 15.5px;
  }
}
.contact__textbox--small {
  width: 280px;
  padding-right: 0;
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  .contact__textbox--small {
    width: 100%;
    margin-bottom: 14.5px;
  }
  .contact__textbox--small:not(:last-child) {
    margin-bottom: 14.5px;
  }
}
.contact__textbox--big {
  margin: 0 20px 20px;
  height: 170px;
  resize: none;
}
@media screen and (max-width: 767px) {
  .contact__textbox--big {
    margin: 0;
    height: 150px;
  }
}
.contact__textbox--many {
  width: 280px;
  padding-right: 0;
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  .contact__textbox--many {
    margin: 0;
  }
}
.contact__postal {
  display: inline-block;
  font-size: 18px;
  line-height: 1.78em;
  color: #000;
}
@media screen and (max-width: 767px) {
  .contact__postal {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 5px;
  }
}
.contact__postal-container {
  position: relative;
  margin-left: 18px;
}
@media screen and (max-width: 767px) {
  .contact__postal-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0;
    margin-bottom: 10px;
    width: 100%;
  }
}
.contact__agreement-container {
  position: relative;
  height: 140px;
  width: 890px;
  background: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
}
@media screen and (max-width: 767px) {
  .contact__agreement-container {
    width: 100%;
    height: 250px;
  }
}
.contact__agreement-container::-webkit-scrollbar {
  width: 12px;
  height: 30px;
}
@media screen and (max-width: 767px) {
  .contact__agreement-container::-webkit-scrollbar {
    width: 9px;
    height: 22.5px;
  }
}
.contact__agreement-container::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #aaa;
}
@media screen and (max-width: 767px) {
  .contact__agreement-container::-webkit-scrollbar-thumb {
    border-radius: 4px;
  }
}
.contact__agreement-main {
  background: #fff;
  width: 900px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
@media screen and (max-width: 767px) {
  .contact__agreement-main {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 11px;
    padding-right: 10px;
    margin-top: 60px;
    margin-bottom: 20px;
  }
}
.contact__agreement-text {
  font-size: 16px;
  line-height: 1.63em;
  margin-left: 24px;
  margin-right: 30px;
  margin-top: 6px;
}
@media screen and (max-width: 767px) {
  .contact__agreement-text {
    font-size: 16px;
    line-height: 1.75em;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0;
  }
}
.contact__agreement-text--list {
  margin-left: 20px;
  margin-top: 18px;
  margin-bottom: 0;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .contact__agreement-text--list {
    margin-left: 21px;
    margin-top: 17.5px;
  }
}
.contact__agreement-text--desc {
  margin-left: -18px;
  margin-top: 0;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .contact__agreement-text--desc {
    margin-left: -18px;
    margin-bottom: 16px;
    margin-right: 0;
  }
}
.contact__checkbox-container {
  position: relative;
  text-align: center;
  margin: 0 auto;
  width: 900px;
}
@media screen and (max-width: 767px) {
  .contact__checkbox-container {
    width: 100%;
  }
}
.contact__checkbox2 {
  position: absolute;
  opacity: 0;
}
.contact__checkbox2 + .contact__checkbox-label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.contact__checkbox2 + label::before {
  content: "";
  margin-right: 17px;
  margin-top: 2px;
  display: inline-block;
  vertical-align: text-top;
  width: 21px;
  height: 21px;
  background: #fff;
  border: 1px solid #333;
  border-radius: 3px;
}
@media screen and (max-width: 767px) {
  .contact__checkbox2 + label::before {
    margin-right: 10px;
    margin-top: 2px;
    width: 18.5px;
    height: 18.5px;
  }
}
.contact__checkbox2:hover + .contact__checkbox-label::before {
  background: #fff;
}
.contact__checkbox2:focus + .contact__checboxt-label::before {
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.contact__checkbox2:checked + .contact__checkbox-label::before {
  background: #fff;
}
.contact__checkbox2:disabled + .contact__checkbox-label {
  color: #ccc;
  cursor: auto;
}
.contact__checkbox2:disabled + .contact__checkbox-label::before {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #ccc;
}
.contact__checkbox2:checked + .contact__checkbox-label::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 7px;
  width: 100%;
  height: 100%;
  background: url("./img/check.png");
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .contact__checkbox2:checked + .contact__checkbox-label::after {
    left: 1px;
    top: 5px;
  }
}
.contact__checkbox-label {
  font-size: 18px;
  line-height: 1.39em;
  margin-left: 22px;
}
@media screen and (max-width: 767px) {
  .contact__checkbox-label {
    font-size: 16px;
    margin-left: 0;
  }
}
.contact__verificiation-btn {
  position: relative;
  display: block;
  margin: 40px auto 142px auto;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
  width: 341px;
  height: 110px;
  background-color: #fedb00;
  border: none;
  outline: none;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .contact__verificiation-btn {
    margin: 30.5px auto 40px auto;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 19px;
    width: 63.67%;
    height: 79px;
  }
}
.contact__address {
  font-size: 18px;
  line-height: 1.78em;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .contact__address {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 5px;
  }
}
@media screen and (max-width: 767px) {
  .contact__break {
    display: none;
  }
}

.white {
  color: #fff;
}

.white-bg {
  background: #fff;
}

.black {
  color: #000;
}

.black-bg {
  background: #000;
}

.primary {
  color: #0b1e5a;
}

.primary-bg {
  background: #0b1e5a;
}

.overflow {
  overflow: hidden;
}

.flickity-prev-next-button.flickity-prev-next-button.previous {
  background-image: url("./img/arrow_left.png");
  background-color: transparent;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .flickity-prev-next-button.flickity-prev-next-button.previous {
    width: 21.5px;
    height: 37px;
  }
}

.flickity-prev-next-button.flickity-prev-next-button.next {
  background-image: url("./img/arrow_right.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 767px) {
  .flickity-prev-next-button.flickity-prev-next-button.next {
    width: 21.5px;
    height: 37px;
  }
}

.flickity-prev-next-button:hover {
  background: transparent;
  opacity: 1;
}

.flickity-prev-next-button .arrow {
  fill: none;
}

.flickity-prev-next-button.no-svg {
  color: black;
}

.flickity-prev-next-button.previous {
  left: 70px;
}
@media screen and (max-width: 767px) {
  .flickity-prev-next-button.previous {
    left: 6px;
  }
}

.flickity-prev-next-button.next {
  right: 70px;
}
@media screen and (max-width: 767px) {
  .flickity-prev-next-button.next {
    right: 6px;
  }
}

.flickity-prev-next-button:disabled {
  opacity: 1;
}

.flickity-page-dots {
  bottom: -30px;
}
@media screen and (max-width: 767px) {
  .flickity-page-dots {
    bottom: -22.5px;
  }
}
.flickity-page-dots .dot {
  background: black;
  opacity: 1;
}

.flickity-page-dots .dot.is-selected {
  background: #fedb00;
}

.flickity-button {
  opacity: 1;
}

.mw_wp_form .error {
  position: absolute;
  bottom: 0;
  left: 20px;
  color: #b700;
  font-size: 1.2rem !important;
}
@media screen and (max-width: 767px) {
  .mw_wp_form .error {
    bottom: 0;
    left: 19px;
    font-size: 1rem !important;
  }
}

.mw_wp_form_send_error {
  font-size: 1.2rem !important;
  text-align: center;
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  .mw_wp_form_send_error {
    font-size: 1rem !important;
    margin-top: 15px;
  }
}

.contact__checkbox-container .error {
  bottom: 130px;
  left: 245px;
}
@media screen and (max-width: 767px) {
  .contact__checkbox-container .error {
    bottom: 90px;
    left: 0;
  }
}

.contact__field .error {
  bottom: 3px;
}
@media screen and (max-width: 767px) {
  .contact__field .error {
    bottom: 0;
    left: 14px;
  }
}

.contact__field--street .error {
  bottom: 0;
}
@media screen and (max-width: 767px) {
  .contact__field--street .error {
    bottom: 0;
    left: 19px;
  }
}

.contact__field--second .error {
  bottom: 3px;
}
@media screen and (max-width: 767px) {
  .contact__field--second .error {
    bottom: 10px;
    left: 14px;
  }
  .contact__field--second .error:first-child {
    bottom: -13px;
    left: 14px;
  }
}

.contact__field--big .error {
  bottom: 2px;
}
@media screen and (max-width: 767px) {
  .contact__field--big .error {
    bottom: 0;
    left: 15px;
  }
}

.contact__checkbox .error {
  bottom: 125px;
  left: 245px;
}

@media screen and (max-width: 767px) {
  .contact__checkbox .error {
    bottom: 90px;
    left: 0;
    right: 0;
  }
}
.contact__postal-container .error {
  bottom: -20px;
  left: 0;
}
@media screen and (max-width: 767px) {
  .contact__postal-container .error {
    bottom: -10px;
    left: 0;
  }
}

.contact__checkbox-item {
  display: none;
}

.contact__checkbox input[type="checkbox"] .contact__checkbox-item {
  display: none;
}

.contact__checkbox label {
  display: inline-block;
}

.contact__checkbox .contact__checkbox-item + span {
  padding-left: 45px;
  display: inline-block;
  position: relative;
}
@media screen and (max-width: 767px) {
  .contact__checkbox .contact__checkbox-item + span {
    padding-left: 30px;
  }
}
.contact__checkbox .contact__checkbox-item + span::after {
  content: "";
  display: block;
  position: absolute;
  border: 1px solid #333;
  border-radius: 3px;
  top: 0;
  left: 0;
  opacity: 0;
  left: 2px;
  top: 7px;
  width: 100%;
  height: 100%;
  background: url("./img/check.png");
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .contact__checkbox .contact__checkbox-item + span::after {
    left: 1px;
    top: 5px;
  }
}
.contact__checkbox .contact__checkbox-item + span::before {
  content: "";
  display: block;
  position: absolute;
  width: 21px;
  height: 21px;
  border: 1px solid #333;
  border-radius: 3px;
  background: #fff;
  top: 0;
  left: 0;
}
@media screen and (max-width: 767px) {
  .contact__checkbox .contact__checkbox-item + span::before {
    width: 18.5px;
    height: 18.5px;
  }
}

.contact__checkbox .contact__checkbox-item:checked + span::after {
  opacity: 1;
}

.mwform-checkbox-field-text {
  font-size: 18px;
  line-height: 1.39em;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .mwform-checkbox-field-text {
    font-size: 16px;
  }
}

/*# sourceMappingURL=style.css.map*/
