//color
$primary: #0b1e5a;
$secondary: #498dc5;

$text: #303030;
$black: #000;
$white: #fff;
$gray: #ccc;
$title: #333;
$border: #666;
$yellow: #fedb00;
$placeholder: #999;
$background: #f1f1f1;
$skyblue: #467fdd;
$islamicgreen: #2b9700;
$tawny: #ba7601;
$purple: #b36be6;
$amaranth: #e52f5a;
$plan-title: #598bfd;
$caribbeangreen: #00c876;
$tangerine: #fff2a3;
$select: #666;
$scrollbar: #aaa;
$checkbox: #333;

//font-family
$object-fit: 'object-fit: cover; object-position: center;';
$noto-serif: 'Noto Serif JP', serif;
$noto-sans: 'Noto Sans JP', sans-serif;
$mincho: 'ヒラギノ明朝 ProN', 'Hiragino Mincho ProN', '游明朝', '游明朝体', 'YuMincho', 'Yu Mincho', 'ＭＳ 明朝', 'MS Mincho', 'HiraMinProN-W3', 'TakaoEx明朝', 'TakaoExMincho', 'MotoyaLCedar', 'Droid Sans Japanese', serif;
$nunito: 'Nunito Sans', sans-serif;

//font-weight
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$blackbold: 900;
