.flickity-prev-next-button.flickity-prev-next-button.previous {
  background-image: url('/img/arrow_left.png');
  background-color: transparent;
  background-repeat: no-repeat;
  @include sp {
    width: getsp375(43px);
    height: getsp375(74px);
  }
}

.flickity-prev-next-button.flickity-prev-next-button.next {
  background-image: url('/img/arrow_right.png');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  @include sp {
    width: getsp375(43px);
    height: getsp375(74px);
  }
}

.flickity-prev-next-button:hover {
  background: transparent;
  opacity: 1;
}

.flickity-prev-next-button .arrow {
  fill: none;
}

.flickity-prev-next-button.no-svg {
  color: black;
}

.flickity-prev-next-button.previous {
  left: 70px;
  @include sp {
    left: getsp375(12px);
  }
}

.flickity-prev-next-button.next {
  right: 70px;
  @include sp {
    right: getsp375(12px);
  }
}

.flickity-prev-next-button:disabled {
  opacity: 1;
}

.flickity-page-dots {
  bottom: -30px;
  @include sp {
    bottom: getsp375(-45px);
  }
  .dot {
    background:black;
    opacity: 1;
  }
}

.flickity-page-dots {
  .dot.is-selected {
    background: $yellow;
  }
}

.flickity-button {
	opacity: 1;
}
