@charset "utf-8";
.mw_wp_form .error {
	position: absolute;
  bottom: 0;
  left: 20px;
  color: #b700;
  font-size: 1.2rem !important;
	@include sp {
		bottom: 0;
		left: getsp375(38px);
		font-size: 1rem !important;
	}
}

.mw_wp_form_send_error {
  font-size: 1.2rem !important;
  text-align: center;
	margin-top: 20px;
	@include sp {
		font-size: 1rem !important;
    margin-top: getsp375(30px);
	}
}

.contact__checkbox-container .error {
  bottom: 130px;
  left: 245px;
	@include sp {
		bottom: getsp375(180px);
    left: 0;
	}
}

.contact__field--street .error {
	bottom: 3px;
	@include sp {
		bottom: 0;
		left: getsp375(38px);
	}
}

.contact__field .error {
	bottom: 3px;
	@include sp {
		left: getsp375(28px);
	}
}


.contact__field--second .error {
	bottom: 3px;
	@include sp {
		bottom: getsp375(30px);
		left: getsp375(28px);

		&:first-child {
			bottom: getsp375(-26px);
		}
	}
}

.contact__field--big .error {
	bottom: 2px;
	@include sp {
		bottom: 0;
		left: getsp375(28px);
	}
}

.contact__postal-container .error {
  bottom: -20px;
	left: 0;
	@include sp {
		bottom: getsp375(324px);
		left: getsp375(28px);
	}
}

.contact__checkbox .error {
  bottom: 125px;
	left: 245px;
	@include sp{
    bottom: getsp375(180px);
		left: 0;
		right: 0;
	}
}

.contact__checkbox-item {
	display: none;
}

.contact__checkbox {
	input[type=checkbox] {
		.contact__checkbox-item {
			display: none;
		}
	}
	label {
		display: inline-block;
	}

	.contact__checkbox-item {
		+ {
			span {
				padding-left: 45px;
				display: inline-block;
				position: relative;
				@include sp {
					padding-left: getsp375(60px);
				}
				&::after {
					content: '';
					display: block;
					position: absolute;
					border: 1px solid #333;
					border-radius: 3px;
					top: 0;
					left: 0;
					opacity: 0;
					left: 2px;
					top: 7px;
					width: 100%;
					height: 100%;
					background: url('/img/check.png');
					background-repeat: no-repeat;
					border: none;
					cursor: pointer;
					@include sp {
						left: getsp375(2px);
						top: getsp375(10px);
					}
				}
				&::before {
					content: '';
					display: block;
					position: absolute;
					width: 21px;
					height: 21px;
					border: 1px solid #333;
					border-radius: 3px;
					background: $white;
					top: 0;
					left: 0;
					@include sp {
						width: getsp375(37px);
						height: getsp375(37px);
					}
				}
			}
		}
		&:checked {
			+ {
				span {
					&::after {
						opacity: 1;
					}
				}
			}
		}
	}
}
.mwform-checkbox-field-text {
	font-size: 18px;
	line-height: 1.39em;
	padding: 0;
	@include sp {
		font-size: getsp375(32px);
	}
}
