extends includes/layout.pug

block content
  .container
    .contact
      .contact__breadcrumbs(data-aos="flip-left")
        a(href='#').contact__breadcrumbs-text トップページ
        span.contact__arrow-right &#62;
        a(href='#').contact__breadcrumbs-text.contact__breadcrumbs-text--current お問い合わせ
      .container__content
        .title(data-aos="zoom-in")
          .title__lines
            h1.title__text CONTACT
      //- CONTACT FORM
      .contact__container(data-aos="fade-down")
        .contact__form
          .contact__label-container
            label.contact__label お問い合わせ内容
            label.contact__mandatory 必須
          .contact__field
            select(name="inquiry").contact__select
              option.contact__option(value selected ="selected" readonly="true" hidden="true" required) 選択してください
              option.contact__option(value='お問い合わせ内容') お問い合わせ内容
              option.contact__option(value='サイトマップ') サイトマップ
              option.contact__option(value='イベント企画‧まちづくりの⽅へ') イベント企画‧まちづくりの⽅へ
              option.contact__option(value='カテゴリ') カテゴリ
        .contact__form
          .contact__label-container
            label.contact__label 会社名/団体名
            label.contact__mandatory.contact__mandatory--sp 必須
          .contact__field
            input.contact__textbox(name="company-name" type="text" placeholder="会社名")
        .contact__form
          .contact__label-container
            label.contact__mandatory.contact__mandatory--sp 必須
            label.contact__label 会社名/団体名 
              br.contact__break
              | フリガナ
          .contact__field
            input.contact__textbox(name="company-namefrigana" type="text" placeholder="フリガナ")
        .contact__form
          .contact__label-container
            label.contact__label 住所
            label.contact__mandatory 必須
          .contact__field.contact__field--street
            .contact__postal-container
              label.contact__postal 〒
              input.contact__textbox.contact__textbox--address(name="zip" type="text")
              label#getZip.contact__address 住所検索
            select.contact__select.contact__select--small(name="location")
              option.contact__option(selected ="selected" readonly="true" hidden="true") 都道府県検索
              option.contact__option(value='北海道') 北海道
              option.contact__option(value='青森県') 青森県
              option.contact__option(value='岩手県') 岩手県
              option.contact__option(value='宮城県') 宮城県
              option.contact__option(value='秋田県') 秋田県
              option.contact__option(value='山形県') 山形県
              option.contact__option(value='福島県') 福島県
              option.contact__option(value='茨城県') 茨城県
              option.contact__option(value='栃木県') 栃木県
              option.contact__option(value='群馬県') 群馬県
              option.contact__option(value='埼玉県') 埼玉県
              option.contact__option(value='千葉県') 千葉県
              option.contact__option(value='東京都') 東京都
              option.contact__option(value='神奈川県') 神奈川県
              option.contact__option(value='新潟県') 新潟県
              option.contact__option(value='富山県') 富山県
              option.contact__option(value='石川県') 石川県
              option.contact__option(value='福井県') 福井県
              option.contact__option(value='山梨県') 山梨県
              option.contact__option(value='長野県') 長野県
              option.contact__option(value='岐阜県') 岐阜県
              option.contact__option(value='静岡県') 静岡県
              option.contact__option(value='愛知県') 愛知県
              option.contact__option(value='三重県') 三重県
              option.contact__option(value='滋賀県') 滋賀県
              option.contact__option(value='京都府') 京都府
              option.contact__option(value='大阪府') 大阪府
              option.contact__option(value='兵庫県') 兵庫県
              option.contact__option(value='奈良県') 奈良県
              option.contact__option(value='和歌山県') 和歌山県
              option.contact__option(value='鳥取県') 鳥取県
              option.contact__option(value='島根県') 島根県
              option.contact__option(value='岡山県') 岡山県
              option.contact__option(value='広島県') 広島県
              option.contact__option(value='山口県') 山口県
              option.contact__option(value='徳島県') 徳島県
              option.contact__option(value='香川県') 香川県
              option.contact__option(value='愛媛県') 愛媛県
              option.contact__option(value='高知県') 高知県
              option.contact__option(value='福岡県') 福岡県
              option.contact__option(value='佐賀県') 佐賀県
              option.contact__option(value='長崎県') 長崎県
              option.contact__option(value='熊本県') 熊本県
              option.contact__option(value='大分県') 大分県
              option.contact__option(value='宮崎県') 宮崎県
              option.contact__option(value='鹿児島県') 鹿児島県
              option.contact__option(value='沖縄県') 沖縄県
            input.contact__textbox.contact__textbox--postal(name="address1"  type="text" placeholder="市区町村名")
            input.contact__textbox.contact__textbox--postal(name="address2" type="text" placeholder="番地・ビル名")
        .contact__form
          .contact__label-container
            label.contact__label メールアドレス
            label.contact__mandatory 必須
          .contact__field
            input.contact__textbox(name="mail" type="text" placeholder="メールアドレス")
        .contact__form
          .contact__label-container
            label.contact__label 電話番号
            label.contact__mandatory 必須
          .contact__field
            input.contact__textbox.contact__textbox--small(name="number" type="text" placeholder="電話番号")
        .contact__form
          .contact__label-container
            label.contact__label 所属部署
          .contact__field
            input.contact__textbox(name="affiliatiion" type="text" placeholder="所属部署")
        .contact__form
          .contact__label-container
            label.contact__label 役職
          .contact__field
            input.contact__textbox.contact__textbox--small(name="position" type="text" placeholder="役職")
        .contact__form
          .contact__label-container
            label.contact__label 名前
            label.contact__mandatory 必須
          .contact__field.contact__field--second
            input.contact__textbox.contact__textbox--small(name="contact-field1" type="text" placeholder="姓")
            input.contact__textbox.contact__textbox--small(name="contact-field2" type="text" placeholder="名")
        .contact__form
          .contact__label-container
            label.contact__label フリガナ
            label.contact__mandatory 必須
          .contact__field.contact__field--second
            input.contact__textbox.contact__textbox--small(name="contact-field3" type="text" placeholder="セイ")
            input.contact__textbox.contact__textbox--small(name="contact-field4" type="text" placeholder="メイ")
        .contact__form
          .contact__label-container
            label.contact__label 内容
            label.contact__mandatory 必須
          .contact__field.contact__field--big
            textarea(name="contents" cols="20", rows="20").contact__textbox.contact__textbox--big
      //- AGREEMENT 
      .contact__agreement-main
        .contact__agreement-container(data-aos="fade-down")
          .contact__agreement-text 株式会社Funwacca(以下「当社」)では、お預かりした個人情報について、以下のとおり適正かつ安全に管理・運用することに努めます。
            ol.contact__agreement-text.contact__agreement-text--list
              li 利用目的
                p.contact__agreement-text.contact__agreement-text--desc 当社は、収集した個人情報について、以下の目的のために利用いたします。
              li 利用目的
                p.contact__agreement-text.contact__agreement-text--desc 当社は、収集した個人情報について、以下の目的のために利用いたします。
              li 利用目的
                p.contact__agreement-text.contact__agreement-text--desc 当社は、収集した個人情報について、以下の目的のために利用いたします。
              li 利用目的
                p.contact__agreement-text.contact__agreement-text--desc 当社は、収集した個人情報について、以下の目的のために利用いたします。
              li 利用目的
                p.contact__agreement-text.contact__agreement-text--desc 当社は、収集した個人情報について、以下の目的のために利用いたします。
              li 利用目的
                p.contact__agreement-text.contact__agreement-text--desc 当社は、収集した個人情報について、以下の目的のために利用いたします。
              li 利用目的
                p.contact__agreement-text.contact__agreement-text--desc 当社は、収集した個人情報について、以下の目的のために利用いたします。
              li 利用目的
                p.contact__agreement-text.contact__agreement-text--desc 当社は、収集した個人情報について、以下の目的のために利用いたします。
              li 利用目的
                p.contact__agreement-text.contact__agreement-text--desc 当社は、収集した個人情報について、以下の目的のために利用いたします。
      //- CHECKBOX
      .contact__checkbox-container(data-aos="fade-down")
        input#styledcheckbox.contact__checkbox2(name="checkbox" type='checkbox' value='value1')
        label.contact__checkbox-label(for='styledcheckbox') 「個⼈情報のお取り扱いについて」に同意します
      //- VERIFICIATION BUTTON
      button(type="submit" name="submit-btn" data-aos="flip-left").contact__verificiation-btn 確認
