extends includes/layout.pug

block content
  .container
    .slider(data-aos="fade-down")
      .slider__cell
        img.slider__img(src='./img/img__slider.jpg' alt='banner1')
        img.slider__img--sp(src='./img/img__slider-sp.jpg' alt='banner1')
      .slider__cell
        img.slider__img(src='./img/img__slider.jpg' alt='banner2')
        img.slider__img--sp(src='./img/img__slider-sp.jpg' alt='banner2')
      .slider__cell
        img.slider__img(src='./img/img__slider.jpg' alt='banner3')
        img.slider__img--sp(src='./img/img__slider-sp.jpg' alt='banner3')

    .content
      //- SECTION - PICKUP
      section.pickup
        .container__content
          .title(data-aos="zoom-in")
            .title__lines
              h1.title__text PICKUP
          .content__item-container
            a.content__item(href='#' data-aos="zoom-out")
              img.content__image(src='./img/pickup__img1.jpg', alt='pickup1')
              .content__wrapper
                .content__date
                  p.content__date-text 22 Jun, 2020
                .content__category-wrapper
                  .content__category-line
                    p.content__category-text.content__category-text--skyblue 講習会
                  .content__title-line
                    p.content__title リアルをコアとした体験をデザインし、情報拡散や態度変容などの効果を検証
            a.content__item(href='#' data-aos="zoom-out")
              img.content__image(src='./img/pickup__img2.jpg', alt='pickup2')
              .content__wrapper
                .content__date
                  p.content__date-text 22 Jun, 2020
                .content__category-wrapper
                  .content__category-line
                    p.content__category-text.content__category-text--islamicgreen イベント
                  .content__title-line
                    p.content__title リアルをコアとした体験をデザインし、情報拡散や態度
            a.content__item(href='#' data-aos="zoom-out")
              img.content__image(src='./img/pickup__img3.jpg', alt='pickup3')
              .content__wrapper
                .content__date
                  p.content__date-text 22 Jun, 2020
                .content__category-wrapper
                  .content__category-line
                    p.content__category-text.content__category-text--tawny お知らせ
                  .content__title-line
                    p.content__title リアルをコアとした体験をデザインし、情報拡散や態度変容などの効果を検証リアル...を
      //- SECTION - UPDATE
      section.update
        .container__content
          .title(data-aos="zoom-in")
            .title__lines
              h1.title__text WHAT'S NEW
        .update__container
          .content__item-container.content__item-container--small
            //- FIRST ROW - UPDATE
            a.content__item.content__item--small(href='#' data-aos="zoom-out")
              img.content__image.content__image--small(src='./img/update__img1.jpg', alt='update1')
              .content__wrapper.content__wrapper--update
                .content__date.content__date--small
                  p.content__date-text 22 Jun, 2020
                .content__category-wrapper.content__category-wrapper--update
                  .content__category-line.content__category-line--small
                    p.content__category-text.content__category-text--skyblue.content__category-text--small 講習会
                  .content__title-line.content__title-line--small
                    p.content__title.content__title--small リアルをコアとした体験をデザインし、情報拡散や態度変容などの効果を検証
            a.content__item.content__item--small(href='#' data-aos="zoom-out")
              img.content__image.content__image--small(src='./img/update__img2.jpg', alt='update2')
              .content__wrapper.content__wrapper--update
                .content__date.content__date--small
                  p.content__date-text 22 Jun, 2020
                .content__category-wrapper.content__category-wrapper--update
                  .content__category-line.content__category-line--small
                    p.content__category-text.content__category-text--islamicgreen.content__category-text--small イベント
                  .content__title-line.content__title-line--small
                    p.content__title.content__title--small リアルをコアとした体験をデザインし、情報拡散や態度
            a.content__item.content__item--small(href='#' data-aos="zoom-out")
              img.content__image.content__image--small(src='./img/update__img3.jpg', alt='update3')
              .content__wrapper.content__wrapper--update
                .content__date.content__date--small
                  p.content__date-text 22 Jun, 2020
                .content__category-wrapper.content__category-wrapper--update
                  .content__category-line.content__category-line--small
                    p.content__category-text.content__category-text--tawny.content__category-text--small お知らせ
                  .content__title-line.content__title-line--small
                    p.content__title.content__title--small リアルをコアとした体験をデザインし、情報拡散や態度変容などの効果を検証リアル...を
            //- 2ND ROW - UPDATE
            a.content__item.content__item--small(href='#' data-aos="zoom-out")
              img.content__image.content__image--small(src='./img/update__img4.jpg', alt='update4')
              .content__wrapper.content__wrapper--update
                .content__date.content__date--small
                  p.content__date-text 22 Jun, 2020
                .content__category-wrapper.content__category-wrapper--update
                  .content__category-line.content__category-line--small
                    p.content__category-text.content__category-text--amaranth.content__category-text--small 募集
                  .content__title-line.content__title-line--small
                    p.content__title.content__title--small リアルをコアとした体験をデザインし、情報拡散や態度変容などの効果を検証
            a.content__item.content__item--small(href='#' data-aos="zoom-out")
              img.content__image.content__image--small(src='./img/update__img5.jpg', alt='update5')
              .content__wrapper.content__wrapper--update
                .content__date.content__date--small
                  p.content__date-text 22 Jun, 2020
                .content__category-wrapper.content__category-wrapper--update
                  .content__category-line.content__category-line--small
                    p.content__category-text.content__category-text--skyblue.content__category-text--small 講習会
                  .content__title-line.content__title-line--small
                    p.content__title.content__title--small リアルをコアとした体験をデザインし、情報拡散や態度
            a.content__item.content__item--small(href='#' data-aos="zoom-out")
              img.content__image.content__image--small(src='./img/update__img6.jpg', alt='update6')
              .content__wrapper.content__wrapper--update
                .content__date.content__date--small
                  p.content__date-text 22 Jun, 2020
                .content__category-wrapper.content__category-wrapper--update
                  .content__category-line.content__category-line--small
                    p.content__category-text.content__category-text--islamicgreen.content__category-text--small イベント
                  .content__title-line.content__title-line--small
                    p.content__title.content__title--small リアルをコアとした体験をデザインし、情報拡散や態度変容などの効果を検証リアル...を
            //- 3RD ROW - UPDATE
            a.content__item.content__item--small(href='#' data-aos="zoom-out")
              img.content__image.content__image--small(src='./img/update__img1.jpg', alt='update1')
              .content__wrapper.content__wrapper--update
                .content__date.content__date--small
                  p.content__date-text 22 Jun, 2020
                .content__category-wrapper.content__category-wrapper--update
                  .content__category-line.content__category-line--small
                    p.content__category-text.content__category-text--skyblue.content__category-text--small 講習会
                  .content__title-line.content__title-line--small
                    p.content__title.content__title--small リアルをコアとした体験をデザインし、情報拡散や態度変容などの効果を検証
            a.content__item.content__item--small(href='#' data-aos="zoom-out")
              img.content__image.content__image--small(src='./img/update__img2.jpg', alt='update2')
              .content__wrapper.content__wrapper--update
                .content__date.content__date--small
                  p.content__date-text 22 Jun, 2020
                .content__category-wrapper.content__category-wrapper--update
                  .content__category-line.content__category-line--small
                    p.content__category-text.content__category-text--islamicgreen.content__category-text--small イベント
                  .content__title-line.content__title-line--small
                    p.content__title.content__title--small リアルをコアとした体験をデザインし、情報拡散や態度
            a.content__item.content__item--small(href='#' data-aos="zoom-out")
              img.content__image.content__image--small(src='./img/update__img3.jpg', alt='update3')
              .content__wrapper.content__wrapper--update
                .content__date.content__date--small
                  p.content__date-text 22 Jun, 2020
                .content__category-wrapper.content__category-wrapper--update
                  .content__category-line.content__category-line--small
                    p.content__category-text.content__category-text--tawny.content__category-text--small お知らせ
                  .content__title-line.content__title-line--small
                    p.content__title.content__title--small リアルをコアとした体験をデザインし、情報拡散や態度変容などの効果を検証リアル...を
            //- 4TH ROW - UPDATE
            a.content__item.content__item--small(href='#' data-aos="zoom-out")
              img.content__image.content__image--small(src='./img/update__img4.jpg', alt='update4')
              .content__wrapper.content__wrapper--update
                .content__date.content__date--small
                  p.content__date-text 22 Jun, 2020
                .content__category-wrapper.content__category-wrapper--update
                  .content__category-line.content__category-line--small
                    p.content__category-text.content__category-text--amaranth.content__category-text--small 募集
                  .content__title-line.content__title-line--small
                    p.content__title.content__title--small リアルをコアとした体験をデザインし、情報拡散や態度変容などの効果を検証
            a.content__item.content__item--small(href='#' data-aos="zoom-out")
              img.content__image.content__image--small(src='./img/update__img5.jpg', alt='update5')
              .content__wrapper.content__wrapper--update
                .content__date.content__date--small
                  p.content__date-text 22 Jun, 2020
                .content__category-wrapper.content__category-wrapper--update
                  .content__category-line.content__category-line--small
                    p.content__category-text.content__category-text--skyblue.content__category-text--small 講習会
                  .content__title-line.content__title-line--small
                    p.content__title.content__title--small リアルをコアとした体験をデザインし、情報拡散や態度
            a.content__item.content__item--small(href='#' data-aos="zoom-out")
              img.content__image.content__image--small(src='./img/update__img6.jpg', alt='update6')
              .content__wrapper.content__wrapper--update
                .content__date.content__date--small
                  p.content__date-text 22 Jun, 2020
                .content__category-wrapper.content__category-wrapper--update
                  .content__category-line.content__category-line--small
                    p.content__category-text.content__category-text--islamicgreen.content__category-text--small イベント
                  .content__title-line.content__title-line--small
                    p.content__title.content__title--small リアルをコアとした体験をデザインし、情報拡散や態度変容などの効果を検証リアル...を
          //- SIDEPANEL - UPDATE 
          .sidepanel
            h1.sidepanel__title(data-aos="zoom-out") 編集部からの⼀⾔
            img.sidepanel__image(src='./img/sidepanel__img.jpg', alt='sidepanel image')
            .sidepanel__content(data-aos="fade-down")
              p.content__title.content__title--sidepanel 新型コロナウイルス緊急事態宣言解除後の当社対応についてのお知らせ
              p.sidepanel__date 2020年7月22日
              p.sidepanel__text 染まってないからこそ、新たな風を吹き込めるEVENT SOLUTION 特設サイトを公開リアルをコアと…
            h1.sidepanel__title(data-aos="zoom-out") CATEGORY
            .sidepanel__category-wrapper(data-aos="fade-down")
              p.content__category-text.content__category-text--islamicgreen.content__category-text--sidepanel
                a(href='#') イベント
              p.content__category-text.content__category-text--skyblue.content__category-text--sidepanel
                a(href='#') 講習会
              p.content__category-text.content__category-text--tawny.content__category-text--sidepanel
                a(href='#') お知らせ
              p.content__category-text.content__category-text--purple.content__category-text--sidepanel
                a(href='#') コラム
              p.content__category-text.content__category-text--amaranth.content__category-text--sidepanel
                a(href='#') 募集
            h1.sidepanel__title(data-aos="zoom-out") RANKING
            .sidepanel__content(data-aos="fade-down")
              ol.sidepanel__ranking
                li.sidepanel__ranking.sidepanel__ranking--item
                  a(href='#') 新型コロナウイルス緊急事態宣言解除後の当社対応についてのお知らせ
                li.sidepanel__ranking.sidepanel__ranking--item
                  a(href='#') 染まってないからこそ、新たな風を吹き込める
                li.sidepanel__ranking.sidepanel__ranking--item
                  a(href='#') EVENT SOLUTION 特設サイトを公開
                li.sidepanel__ranking.sidepanel__ranking--item
                  a(href='#') リアルをコアとした体験をデザインし、情報拡散や態度変容などの効果を検証
                li.sidepanel__ranking.sidepanel__ranking--item
                  a(href='#') さまざまな業種や形態の体験施策に携わってきた経験値を武器に困難な状況を乗り越え
            h1.sidepanel__title(data-aos="zoom-out") TAGS
            .sidepanel__tags-wrapper(data-aos="fade-down")
              a.sidepanel__tags(href='#') コロナウイルス
              a.sidepanel__tags(href='#') イベント
              a.sidepanel__tags(href='#') 地域活性化
              a.sidepanel__tags(href='#') サポーター
              a.sidepanel__tags(href='#') 企画案
              a.sidepanel__tags(href='#') 楽しむ
              a.sidepanel__tags(href='#') 公園
              a.sidepanel__tags(href='#') フリマ
              a.sidepanel__tags(href='#') 街づくり
              a.sidepanel__tags(href='#') つながり
    //- SECTION - BANNER 1
    section.banner(data-aos="zoom-in")
      .banner__container
        img.banner__image(src='./img/banner__img1.jpg', alt='Banner 1')
        img.banner__image.banner__image--sp(src='./img/banner__img1-sp.jpg', alt='Banner 1')
        .banner__wrapper
          .banner__text-container
            h1.banner__text.banner__text--small イベント企画‧まちづくりの⽅へ
            .banner__text-wrapper.banner__text-wrapper--small
              h1.banner__text ファンワッカが
                br.banner__break
                | お⼿伝いします！
            p.banner__text.banner__text--description これはダミー文字です新型コロナウイルス緊急事態宣言解除後の当社対応についてのお知らせ 
              br.banner__break
              | 染まってないからこそ、新たな風を吹き込めるリアルをコアとした体験を
          .banner__button-container
              a.button(href='#') 詳しく見る
    
          //- SECTION - CATEGORY
    .content
      section.category
        .container__content
          //- TITLE
          .title(data-aos="zoom-in")
            .title__lines
              h1.title__text CATEGORYS
          .category__container
            //- ITEMS 
            .category__content
              //- ITEM 1 
              .category__item-container
                a.category__item(href='#')
                  .category__title-container(data-aos="flip-up")
                    p.category__title-jp.category__title-jp--islamicgreen イベント
                    p.category__title-en EVENT
              .category__information-container
                .category__information(data-aos="zoom-in-up")
                  .category__information-wrapper
                    a.content__item.content__item--category(href='#')
                      img.content__image.content__image--category(src='./img/category__img1.jpg', alt='category1')
                    .content__wrapper.content__wrapper--category
                      a.category__link(href='#')
                        .content__date.content__date--category
                          p.content__date-text.content__date-text--category 22 Jun, 2020
                        .content__category-wrapper.content__category-wrapper--small
                          .content__category-line
                            p.category__description 南大沢中郷公園フリーマーケット
                          .content__title-line.content__title-line--category
                            .category__description-container
                              p.category__description.category__description--small 開催日：2020年12月24日
                              p.category__description.category__description--small 開催場所：東京都 渋谷区
                              p.category__description.category__description--small カテゴリ：フリーマーケット                       
                //- ITEM 2
                .category__information(data-aos="zoom-in-up")
                  .category__information-wrapper
                    a.content__item.content__item--category(href='#')
                      img.content__image.content__image--category(src='./img/category__img2.jpg', alt='category2')
                    .content__wrapper.content__wrapper--category
                      a.category__link(href='#')
                        .content__date.content__date--category
                          p.content__date-text.content__date-text--category 22 Jun, 2020
                        .content__category-wrapper.content__category-wrapper--small
                          .content__category-line
                            p.category__description ぽっぽ町田蚤の市寺フェス2019秋の陣☆出店者・出演者募集☆残り後わずか♪
                          .content__title-line.content__title-line--category
                            .category__description-container
                              p.category__description.category__description--small 開催日：2020年12月24日
                              p.category__description.category__description--small 開催場所：東京都 渋谷区
                              p.category__description.category__description--small カテゴリ：フリーマーケット
                          .category__button-container
                            a.button(href='#') 詳しく見る

          .category__content
            //- ITEM 3
            .category__item-container
              a.category__item(href='#')
                .category__title-container(data-aos="flip-up")
                  p.category__title-jp.category__title-jp--tawny お知らせ
                  p.category__title-en INFO.
            .category__information-container(data-aos="zoom-in-up")
              .category__information
                .category__information-wrapper
                  a.content__item.content__item--category(href='#')
                    img.content__image.content__image--category(src='./img/category__img3.jpg', alt='category3')
                  .content__wrapper.content__wrapper--category
                    a.category__link(href='#')
                      .content__date.content__date--category
                        p.content__date-text.content__date-text--category 22 Jun, 2020
                      .content__category-wrapper.content__category-wrapper--small
                        .content__category-line
                          p.category__description 南大沢中郷公園フリーマーケット
                        .content__title-line.content__title-line--category
                          .category__description-container
                            p.category__description.category__description--small 開催日：2020年12月24日
                            p.category__description.category__description--small 開催場所：東京都 渋谷区
                            p.category__description.category__description--small カテゴリ：フリーマーケット
                        .category__button-container
                          a.button(href='#') 詳しく見る

          .category__content
            //- ITEM 4
            .category__item-container
              a.category__item(href='#')
                .category__title-container(data-aos="flip-up")
                  p.category__title-jp.category__title-jp--purple コラム
                  p.category__title-en COLUMN
            .category__information-container(data-aos="zoom-in-up")
              .category__information
                .category__information-wrapper
                  a.content__item.content__item--category(href='#')
                    img.content__image.content__image--category(src='./img/category__img4.jpg', alt='category4')
                  .content__wrapper.content__wrapper--category
                    a.category__link(href='#')
                      .content__date.content__date--category
                        p.content__date-text.content__date-text--category 22 Jun, 2020
                      .content__category-wrapper.content__category-wrapper--small
                        .content__category-line
                          p.category__description 南大沢中郷公園フリーマーケット
                        .content__title-line.content__title-line--category
                          .category__description-container
                            p.category__description.category__description--small 開催日：2020年12月24日
                            p.category__description.category__description--small 開催場所：東京都 渋谷区
                            p.category__description.category__description--small カテゴリ：フリーマーケット
                        .category__button-container
                          a.button(href='#') 詳しく見る
              

    //- SECTION - BANNER 2
    section.banner(data-aos="zoom-in")
      .banner__container.banner__container--second
        img.banner__image(src='./img/banner__img2.jpg', alt='Banner 2')
        img.banner__image.banner__image--sp(src='./img/banner__img2-sp.jpg', alt='Banner 2')
        .banner__wrapper
          .banner__arc-container
            img.banner__arc(src='./img/arc.png', alt='Arc')
          .banner__text-container.banner__text-container--second
            p.banner__text.banner__text--extra-small ファンタ
            h1.banner__text.banner__text--title Funta
            h1.banner__text ファンワッカの
              br.banner__break
              | イベントスタッフ募集中
            p.banner__text.banner__text--description これはダミー文字です新型コロナウイルス緊急事態宣言解除後の当社対応についてのお知らせ
              br.banner__break
              | 染まってないからこそ、新たな風を吹き込めるリアルをコアとした体験を
          .banner__button-container.banner__button-container--second
            a.button(href='#') 募集について
      //- SECTION - PLAN
    .content
      section.plan
        .container__content
          .plan__container
            .plan__title-container
              .title(data-aos="zoom-in")
                .title__lines.title__lines--category
                  h1.title__text PLAN
              .plan__business-container
                //- ITEM 1
                .plan__business-box(data-aos="zoom-in-right")
                  img.plan__image(src='./img/plan__img1.jpg', alt='Business Plan Image 1')
                  .plan__text-container
                    .plan__business-text 法人向け事業
                    .plan__business-description キャッチコピーが⼊りますリアルをコアとした体験をデザインし、情報拡散や態度変容などの効果を検証
                    .plan__business-description--sp キャッチコピーが⼊りますリアルをコアとした体験をデザインし、情報拡散や態度変容な...効果を
                    .plan__button-container
                      a.button(href='#') 詳しく見る
                //- ITEM 2 
                .plan__business-box(data-aos="zoom-in-right")
                  img.plan__image(src='./img/plan__img2.jpg', alt='Business Plan Image 2')
                  .plan__text-container
                    .plan__business-text.plan__business-text--caribbeangreen 公共向け事業
                    .plan__business-description キャッチコピーが⼊りますリアルをコアとした体験をデザインし、情報拡散や態度変容などの効果を検証
                    .plan__business-description--sp キャッチコピーが⼊りますリアルをコアとした体験をデザインし、情報拡散や態度変容な...効果を
                    .plan__button-container
                      a.button(href='#') 詳しく見る
                //- ITEM 3
                .plan__business-box(data-aos="zoom-in-right")
                  img.plan__image(src='./img/plan__img3.jpg', alt='Business Plan Image 3')
                  .plan__text-container
                    .plan__business-text.plan__business-text--tawny 地域活性化事業
                    .plan__business-description キャッチコピーが⼊りますリアルをコアとした体験をデザインし、情報拡散や態度変容などの効果を検証
                    .plan__business-description--sp キャッチコピーが⼊りますリアルをコアとした体験をデザインし、情報拡散や態度変容な...効果を
                    .plan__button-container
                      a.button(href='#') 詳しく見る

            //- INSTAGRAM FEED
            .plan__instagram-container(data-aos="zoom-in-left")
              img.plan__instagram-page(src='./img/funwacca__ig.png', alt='Instagram Page of Funwacca')
    .content
      //- SECTION - EVENT
      section.pickup
        .container__content
          .title(data-aos="zoom-in")
            .title__lines
              h1.title__text EVENT
          .content__item-container.content__item-container--event
            a.content__item(href='#' data-aos="flip-left")
              img.content__image.content__image--event(src='./img/event__img1.jpg', alt='event1')
              .content__wrapper.content__wrapper--event
                .content__category-wrapper.content__category-wrapper--event
                  .content__category-line.content__category-line--event
                    p.content__text-event さまざまな業種や形態の体験施策に携わってきた経験値を武器に難な状 況を乗り越える
                  .event__cont
                    .content__date.content__date--event
                      p.content__date-text 22 Jun, 2020
                  .content__title-line.content__title-line--event
                    .event__description-container
                      p.event__description 開催日：2020年12月24日
                      p.event__description 開催場所：東京都 渋谷区
                      p.event__description カテゴリ：フリーマーケット
            a.content__item(href='#' data-aos="flip-left")
              img.content__image.content__image--event(src='./img/event__img2.jpg', alt='event2')
              .content__wrapper.content__wrapper--event
                .content__category-wrapper.content__category-wrapper--event
                  .content__category-line.content__category-line--event
                    p.content__text-event イベント名染まってないからこそ、新たな風を吹き込める
                  .event__cont
                    .content__date.content__date--event
                      p.content__date-text 22 Jun, 2020
                  .content__title-line.content__title-line--event
                    .event__description-container
                      p.event__description 開催日：2020年12月24日
                      p.event__description 開催場所：東京都 渋谷区
                      p.event__description カテゴリ：フリーマーケット
            a.content__item(href='#' data-aos="flip-left")
              img.content__image.content__image--event(src='./img/event__img3.jpg', alt='event3')
              .content__wrapper.content__wrapper--event
                .content__category-wrapper.content__category-wrapper--event
                  .content__category-line.content__category-line--event
                    p.content__text-event 宮津満腹祭 うまいもん集まれ 2020年12月24日開催
                  .event__cont
                    .content__date.content__date--event
                      p.content__date-text 22 Jun, 2020
                  .content__title-line.content__title-line--event
                    .event__description-container
                      p.event__description 開催日：2020年12月24日
                      p.event__description 開催場所：東京都 渋谷区
                      p.event__description カテゴリ：フリーマーケット
