html,
body {
  font-size: 10px;
  font-feature-settings: 'palt';
  font-weight: $regular;
  font-family: $noto-sans;
  background-color: $background;
  @media screen and (max-width: 1220px) {
    min-width: 1220px;
  }
  @include sp {
    min-width: 100%;
  }
}
